html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    height: 100%;
  }
  body {
    background-color: #ecf0f3;
    margin:0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;   
  }
  
  /*NAVBAR*/ 
  
  .header {
    background-color: #ecf0f3;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    position: fixed;
    width: 100%;
    z-index: 3;
  }
  
  .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
  }
  
  .header li a {
    display: block;
    padding: 20px 20px;
    color: black;
    font-weight: 500;
    text-decoration: none;
  }
  
  .header li a:hover,
  .header .menu-btn:hover {
    background-color: #f4f4f4;
  }
  
  .header .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
    color: black;
  }
  
  .header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
    text-align: center;
  }
  
  .header .menu-icon {
    cursor: pointer;
    padding: 28px 20px;
    position: relative;
    user-select: none;
    float: right;
  }
  
  .header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background 0.2s ease-out;
    width: 18px;
  }
  
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .header .menu-icon .navicon:before {
    top: 5px;
  }
  
  .header .menu-icon .navicon:after {
    top: -5px;
  }
  
  .header .menu-btn {
    display: none;
  }
  
  .header .menu-btn:checked ~ .menu {
    max-height: 400px;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }
  
  @media (min-width: 970px) {
    .header li {
      float: left;
    }
    .header li a {
      padding: 20px 30px;
    }
    .header .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    .header .menu-icon {
      display: none;
    }
  }
  
h2 {
    width: 100%;
    margin-top: 5rem;
    position: absolute;
    text-align: center;
}
h5 {
    width: 100%;
    position: absolute;
    color: #181717;
    margin-top: 9rem;
    padding-left: 100px;
    opacity: 0.7;
}
@media (max-width: 676px){
    h5{
      position: absolute;
      margin-top: 11rem;
      padding-left: 40px;
    }
  }