@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  height: 100%;
}
body {
  background-color: #ecf0f3;
  margin:0;
  padding: 0;   
  font-family: "Poppins", sans-serif;
}

/*Main section*/ 


.main {
  width:100%;
  padding-left: 10rem;
  padding-right: 10rem;
  margin-top: 5rem;
  position: absolute;
}
.column{
  padding: 70px;
}
.section{
  padding: 20px;
}
.heading {
  font-size: 55px;
}
.sub-heading {
  font-size: 17px;
  margin-top: 20px;
}
@media (max-width: 550px){
  .main{
    width: 140%;
    padding-left: 3rem;
    padding-right: 0rem;
  }
}

.card {
  box-shadow: 0 0px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1);
  background: #fff;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  max-height: 100%;
}
.card .card-body {
  display: flex;
  flex-flow: row wrap;
  padding: 30px;
}
.card header {
  flex: 100%;
}
.card .meta {
  margin-bottom: 22px;
}
.card .chips {
  align-self: flex-end;
}
.card .featured-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  overflow: hidden;
  width: 100%;
  height: 300px;
}

@media only screen and (min-width: 768px) {
  .card {
    flex-direction: row;
    max-height: 279px;
  }
  .card h3 {
    font-size: calc(100% + 1vw);
  }
  .card .featured-image {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 0;
    max-width: 400px;
    max-height: 277px;
  }
}
@media only screen and (min-width: 1280px) {
  .card h3 {
    font-size: 32px;
  }
}


h3 {
  font-size: 32px;
  line-height: 1.2;
  font-weight: bold;
  color: #222;
  margin: .5em 0;
}

.pre-heading {
  color: #444;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
}

.meta {
  color: #555;
  font-size: 16px;
  text-transform: uppercase;
}

.author {
  text-transform: uppercase;
}

ul {
  display: block;
  margin: 0 auto;
  max-width: 1160px;
  padding: 30px;
}

a {
  text-decoration: none;
}

.chips {
  white-space: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -ms-overflow-style: none;
}
.chips::-webkit-scrollbar {
  display: none;
}

.chip {
  display: inline-block;
  position: relative;
  font-size: 16px;
  line-height: 1.4;
  white-space: nowrap;
  color: white;
  background: #009DFF;
  border-radius: 25px;
  margin-right: 8px;
  padding: 5px 12px;
  max-height: 32px;
}
.chip.large {
  text-transform: uppercase;
  color: black;
  border: 1px solid #E0E0E0;
  background: white;
  padding: 10px 15px;
  max-height: 44px;
}
.chip input {
  margin-bottom: 0 !important;
  height: 22px !important;
  background-color: transparent !important;
  padding: 3px 0 0 0 !important;
}
.chip input::placeholder {
  color: black;
  text-transform: uppercase;
  font-size: 16px;
}

a.chip {
  cursor: pointer;
}
a.chip:hover, a.chip:visited, a.chip:active {
  color: white;
}

a.chip.large:visited, a.chip.large:hover, a.chip.large:active {
  color: black;
}

.magnifyBorder {
  padding: 3%;
  border-radius: 61px;
  box-shadow: inset 0 0 0 2px #474E51;
  transition: 300ms box-shadow cubic-bezier(0.4, 0, 0.6, 1), 300ms background-color cubic-bezier(0.4, 0, 0.6, 1), 300ms color cubic-bezier(0.4, 0, 0.6, 1);;
  color: #474E51;
}

.magnifyBorder:hover {
  box-shadow: inset 0 0 0 4px #5778F3;
  color: #5778F3;
}
