#particles-js {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 4rem;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  left: 0;
}

#welcome-section {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  justify-content: center;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.3);
}

.text {
  position: absolute;
  right: 55%;
  top: 30%;
  color: #fff;
  padding: 2em 3em;
  line-height: 3.5rem;
}

h1 {
  font-size: 3em;
  font-weight: 700;
  letter-spacing: -1px;
}

.text a {
  color: white;
  font-size: 3rem;
}

.type-container{
  position: relative;
  font-size: 2rem;
  color: #fff;
  display: flex;
}

#line{
  position: relative;
}

.cursor{
  height: 2rem;
  width: 2px;
  margin-left:2px;
  background: rgba(255,255,255,.75);
  margin-top: 10px;
  animation: blinkTextCursor 800ms infinite;
}

@keyframes blinkTextCursor{
  from{opacity: 1;}
  to{opacity: 0;}
}

.button {
  border-radius: 4px;
  border: 0;
  color: #fff;
  cursor: pointer;
  padding: 8px 20px;
  font-size: 18px;
  font-weight: 400;
}

/* Slide */
.slide {
  background-color: #0E8FFF;
  border-radius: 4px;
  transform: perspective(1px) translateZ(0);
}

.slide:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #065eaa ;
  border-radius: 4px;
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

.slide:hover::before {
  transform: scaleX(1);
}

ul.social-icons {
  margin-top: 10px;
}
.social-icons li {
  vertical-align: top;
  display: inline;
}
.social-icons a {
  color: #fff;
  text-decoration: none;
}

.fa-behance{
  color: #F100E1;
  margin-right: 10px;
}

.fa-kaggle{
  color:#00BCE0;
  margin-right: 10px;
}
