html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  height: 100%;
}
body {
  background-color: #ecf0f3;
}
.navbar a {
  color: black;
  font-weight: 600;
}
.navbar {
  box-shadow: 0 3px 22px -6px #000000;
  border: #707070;
}
.navbar-nav {
  right: 0px;
  position: absolute;
}
.nav-item {
  padding: 10px;
}
