/*Main section*/ 
.main {
  width:100%;
  padding-left: 10rem;
  padding-right: 10rem;
  margin-top: 5rem;
  position: absolute;
}
.column{
  padding: 70px;
}
.section{
  padding: 20px;
}
.heading {
  font-size: 55px;
}
.sub-heading {
  font-size: 17px;
  margin-top: 20px;
}
@media (max-width: 550px){
  .main{
    width: 140%;
    padding-left: 3rem;
    padding-right: 0rem;
  }
}

/*Card*/ 


.card img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.card {
  height: 380px;
  width: 250px;
  background: #fff;
  box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  border: #707070;
}

.card img {
  width: 250px;
  height: 180px;
}

.card-title {
  font-weight: bold;
  font-size: 19px;
  margin: 5px 0 0 0;
}

.card-description {
  font-size: 12px;
  color: black;
  text-align: justify;
}

.card-description p{
  margin-bottom: 0.5rem !important;
}

.card-title,
.card-description {
  padding: 0 10px;
}

/*End button*/


.end-btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.end-btn button {
  color: white;
  background-color: #000;
  border-radius: 20px;
  padding: 10px;
  border: none;
  cursor: pointer;
  outline: none;
}

/*Social media icons*/

.social-icons{
  padding-left: 10px;
  list-style: none;
  margin-top: 2px;
}

.social-icons li {
  display: inline-block;
  margin: 0.15em;
  position: relative;
  font-size: 1em;
}

.social-icons i {
  color: black;
  position: absolute;
  top: 0.40em;
  left: 0.45em;
  width: 10px;
  height: 10px;
  transition: all 265ms ease-out;
}

.social-icons a {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: block;
  box-shadow: 0 5px 15px -1px rgba(0,0,0,0.1);
  opacity: 0.99;
}

.social-icons .fa {
  font-size: 24px;
}

.social-icons i :before {
  top: 90%;
  left: -110%;
}
.social-icons .fa {
  transform: scale(0.8);
}

.social-icons a:hover{
  background-color: black;
}

.social-icons :focus .fa,
.social-icons :hover .fa {
  color: #fff;
  transform: scale(0.95);
}

.social-icons i :before {
 transform: rotate(45deg);
}