* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-size: 10px;
	color: white;
	font-family: 'Montserrat', sans-serif;
}

@media (max-width: 600px) {
	* {
		font-size: 8px;
	}
}

:root {
	--dark-blue: hsl(231, 100%, 15%);
	--darker-blue: hsl(231, 100%, 5%);
	--medium-blue: hsl(231, 100%, 40%);
	--light-blue: hsl(231, 100%, 71%);
	--nav-height: 50px;
}

h1 {
	font-size: 5em;
	font-weight: 500;
	margin: 0.25em 0;
}

h2 {
	font-size: 4em;
	font-weight: 400;
}

a {
	text-decoration: none;
}

.italic-sub {
	font-size: 3em;
	font-style: italic;
	font-weight: 400;
}

.vh {
	height: 100vh;
}

.nav-container {
	background-color: black;
	z-index: 1000;
	position: fixed;
	width: 100%;
	height: var(--nav-height);
	top: 0;
	display: flex;
	justify-content: center;
	align-items: stretch;
}
.linkdiv {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 2em;
	width: 150px;
	height: 100%;
}
.linkdiv:hover {
	background-color: hsla(231, 100%, 71%, 0.25); /*var(--light-blue) + opacity*/
	font-size: 2.5em;
}

.content-container {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: auto;
}
#particles-js {
	position: absolute;
	width: 100%;
	height: 100%;

	top: 0;
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	left: 0;
}
#welcome-section {
	height: 100vh;
	width: 100%;
	padding-top: var(--nav-height);
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: black;
	justify-content: center;
	background-size: cover;
	box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .3);
}

#projects {
	padding-top: var(--nav-height);
	min-height: 100vh;
	width: 100%;
	background-color: var(--darker-blue);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.projects-container {
	margin: 50px 50px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.btn-view-all {
	font-size: 2.5em;
	margin-bottom: 30px;
	padding: 10px 30px;
	background-color: var(--dark-blue);
	border-radius: 30px;
}
.btn-view-all:hover {
	box-shadow: 0px 0px 80px hsla(231, 100%, 71%, 0.25); /*var(--light-blue) + opacity*/
}

.contact-btn {
	font-size: 40px;
}

#contact {
	width: 100%;
	background-color: var(--dark-blue);
	padding-top: var(--nav-height);
	display: flex;
	flex-direction: column;
	align-items: center;
	border-bottom: 3px solid white;
}

.contact-links {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	max-width: 50%;
	height: auto;
	margin: 30px 0;
}

.contact-btn {
	font-size: 2.5em;
	margin: 30px 30px;
	transition: transform 0.3s ease-out;
}

.contact-btn:hover {
	transform: translateY(10px);
}

@media (max-width: 600px) {
	#contact {
		height: auto;
	}
	.contact-links {
		max-width: 100%;
	}
}

.page-footer {
	background-color: var(--dark-blue);
	padding: 30px 30px;
	display: flex;
	justify-content: space-between;
}
.page-footer > p {
	font-size: 1.5em;
}
#copyr-link {
	font-size: inherit;
}



.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.wrap {
  margin: 2rem;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: perspective(100rem);
          transform: perspective(100rem);
  cursor: pointer;
}
.container {
  --rX: 0;
  --rY: 0;
  --bX: 50%;
  --bY: 80%;
  width: 30rem;
  height: 36rem;
  border-radius: 1.6rem;
  padding: 4rem;
  display: flex;
  align-items: flex-end;
  position: relative;
  -webkit-transform: rotateX(calc(var(--rX) * 1deg)) rotateY(calc(var(--rY) * 1deg));
          transform: rotateX(calc(var(--rX) * 1deg)) rotateY(calc(var(--rY) * 1deg));
  background-position: var(--bX) var(--bY);
  box-shadow: 0 0 3rem .5rem hsla(0, 0%, 0%, .2);
  transition: -webkit-transform .6s 1s;
  transition: transform .6s 1s;
  transition: transform .6s 1s, -webkit-transform .6s 1s;
  background-repeat: no-repeat;
  background-size: cover;
}
.container::before,
.container::after {
  content: "";
  width: 2rem;
  height: 2rem;
  position: absolute;
  z-index: 2;
  opacity: .3;
  transition: .3s;
}
.container::before {
  top: 2rem;
  right: 2rem;
  border-bottom-width: 0;
  border-left-width: 0;
}
.container::after {
  bottom: 2rem;
  left: 2rem;
  border-top-width: 0;
  border-right-width: 0;
}
.container--active {
  transition: none;
}

.container p {
	margin-top: 30px;
  font-weight: bold;
  font-size: 1.9rem;
}
.wrap:hover .container::before,
.wrap:hover .container::after {
  width: calc(100% - 4rem);
  height: calc(100% - 4rem);
}

.img1{
	background-image: linear-gradient(hsla(0, 0%, 100%, .2), hsla(0, 0%, 100%, .2)), url("https://raw.githubusercontent.com/freeCodeCamp/cdn/master/build/testable-projects-fcc/images/tribute.jpg");
}

.img2{
   background-image: linear-gradient(hsla(0, 0%, 100%, .1), hsla(0, 0%, 100%, .2)), url("https://raw.githubusercontent.com/freeCodeCamp/cdn/master/build/testable-projects-fcc/images/random-quote-machine.png");
   background-size: 40rem 37rem !important;
}

.img3{
   background-image: linear-gradient(hsla(0, 0%, 100%, .1), hsla(0, 0%, 100%, .2)), url("https://raw.githubusercontent.com/freeCodeCamp/cdn/master/build/testable-projects-fcc/images/calc.png");
}

.img4{
   background-image: linear-gradient(hsla(0, 0%, 100%, .1), hsla(0, 0%, 100%, .2)), url("https://raw.githubusercontent.com/freeCodeCamp/cdn/master/build/testable-projects-fcc/images/map.jpg");
}

.img5{
   background-image: linear-gradient(hsla(0, 0%, 100%, .1), hsla(0, 0%, 100%, .2)), url("https://raw.githubusercontent.com/freeCodeCamp/cdn/master/build/testable-projects-fcc/images/wiki.png");
}

.img6{
	background-image: linear-gradient(hsla(0, 0%, 100%, .1), hsla(0, 0%, 100%, .2)), url("https://raw.githubusercontent.com/freeCodeCamp/cdn/master/build/testable-projects-fcc/images/tic-tac-toe.png");
}
