html{position: relative;
     min-height: 100%;
     background: #ffffff;
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
}

html {box-sizing: border-box;
      font-family: sans-serif;
      line-height: 1.15;
      -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
      -ms-overflow-style: scrollbar;
      -webkit-tap-highlight-color: transparent;
}
body {background: #fff;
      font-family: "Montserrat", sans-serif;
      margin: 0;
      overflow-x: hidden;
      color: #67757c;
      font-weight: 300;
      font-size: 14px;
}
body {background: #fff;
      font-family: "Montserrat", sans-serif;
      margin: 0;
      overflow-x: hidden;
      color: #67757c;
      font-weight: 300;
      font-size: 14px;
      line-height: 1.5;
}
.text-center {text-align: center!important;
}
.error-box {height: 100%;
            position: fixed;
            width: 100%;
}
.error-box .footer {width: 100%;
                    left: 0px;
                    right: 0px;
}
.footer {bottom: 0;
         color: #67757c;
         left: 0px;
         padding: 17px 15px;
         position: absolute;
         right: 0;
         border-top: 1px solid rgba(120, 130, 140, 0.13);
         background: #ffffff;
}
.error-body h1 {font-size: 210px;
                font-weight: 900;
                text-shadow: 4px 4px 0 #ffffff, 6px 6px 0 #263238;
                line-height: 210px;
}
.error-body {padding-top: 5%;
}
p {display: block;
   margin-block-start: 1em;
   margin-block-end: 1em;
   margin-inline-start: 0px;
   margin-inline-end: 0px;
}
.waves-effect {position: relative;
               cursor: pointer;
               display: inline-block;
               overflow: hidden;
               -webkit-user-select: none;
               -moz-user-select: none;
               -ms-user-select: none;
               user-select: none;
               -webkit-tap-highlight-color: transparent;
               vertical-align: middle;
               z-index: 1;
               will-change: opacity, transform;
              -webkit-transition: all 0.1s ease-out;
              -moz-transition: all 0.1s ease-out;
              -o-transition: all 0.1s ease-out;
              -ms-transition: all 0.1s ease-out;
              transition: all 0.1s ease-out;
}
.btn-info {color: #fff;
           background-color: #17a2b8;
           border-color: #17a2b8;
}
img.nf {max-width: 7%;
        margin-left: 46.5%;
        margin-right: 46.5%;
        margin-top: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 20%;
        padding-top: 0px;
        margin-bottom: 2.45rem;
        align-items: center;
}
.btn {display: inline-block;
      font-weight: 400;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      border: 1px solid transparent;
      padding: .5rem .75rem;
      font-size: 1rem;
      line-height: 1.25;
      border-radius: .25rem;
      transition: all .15s ease-in-out;
      text-decoration: none;
}
.btn {padding: 7px 12px;
       cursor: pointer;
}
.btn-rounded {border-radius: 60px;
              padding: 7px 18px;
}
.btn {padding: 7px 12px;
      cursor: pointer;
}
.btn:hover{background:#17a2b8;
}
.btn-info, .btn-info.disabled {background: #20aee3;
                               border: 1px solid #20aee3;
                               -webkit-transition: 0.2s ease-in;
                               -o-transition: 0.2s ease-in;
                               transition: 0.2s ease-in;
}
.text-uppercase {text-transform: uppercase!important;
}
h1, h2, h3, h4, h5, h6 {margin-top: 0;
                        margin-bottom: .5rem;
                        color: #455a64;
                        font-family: "Montserrat", sans-serif;
                        font-weight: 400;
}
h3 {line-height: 30px;
    font-size: 25px;
}
.text-uppercase {text-transform: uppercase!important;
}
html body .m-b-30 {margin-bottom: 30px;
}
html body .m-t-30 {margin-top: 30px;
}
html body .m-b-40 {margin-bottom: 40px;
}
.text-muted {color: #bcc3d3 !important;
             font-size: 20px;
}
a {color: #007bff;
   text-decoration: none;
   background-color: transparent;
   -webkit-text-decoration-skip: objects;
   color: #20aee3;
}