#menu-icon > path {
    fill: #000;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
      stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  #menu-icon > path:nth-child(1) {
    stroke-dasharray: 60 207;
  }
  #menu-icon > path:nth-child(2) {
    stroke-dasharray: 60 60;
  }
  #menu-icon > path:nth-child(3) {
    stroke-dasharray: 60 207;
  }
  #menu-icon.opened > path:nth-child(1) {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
  }
  #menu-icon.opened > path:nth-child(2) {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
  }
  #menu-icon.opened > path:nth-child(3) {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
  }