@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.reference-row{
  font-family: 'Poppins', sans-serif;
  display: flex;
  background-color:#F6F6F6;
  flex-direction: row;
  top: 10%;
  margin-bottom: 200px;
  padding-left: 40px;
  padding-right: 40px;
}

.left-row{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.right-row{  
  width: 50%;
  height: 80vh;
}

.main-body{
  margin-bottom: 200px;
}

.svg-animation-container svg{
    width:100%;
    height: 100%;
    right:0;
}

.referenceMainWrapper{
  font-family: 'Poppins', sans-serif;
  background-color:#F6F6F6;
  width: 100% !important;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.table-div{
  transition: 0.5s ease-in-out;
  width: 70%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 100px;
}

.table-div-2{
  transition: 0.5s ease-in-out;
  width: 70%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 100px;
}

.img-container {
  width: 32.5%;
}

.profile-pic {
  width: 100%;
  border-radius: 10% 50%;
  border: 20px solid rgb(181, 6, 250);
}

.profile-pic-2{
  width: 100%;
  border-radius: 50% 10%;
  border: 20px solid rgb(181, 6, 250);
}

.referenceTitleName{
  width: 60%;
  align-self: center;
}

.reference-name {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
}

.reference-name a {
  align-self: center;
}

.referenceY {
  margin-top: 25px;
}

/*.profile-pic {
  height:100%;
  width: 70%;
  margin-top: 8%;
  margin-right: 8%;
  margin-bottom: 8%;
  margin-left: 3%;
  border-radius: 50% 10%;
  border: solid;
  border-width: 20px;
  border-color: rgb(181, 6, 250);
}*/

.right-img{
  margin-left: 20%!important;
}

.table-div:hover{
  transform: scale(1.1);  
}
.paperTitle:hover{
  color:black;
  font-weight: 600;
}

/*
---------------------------
      SVG ANIMATION
---------------------------
*/

@keyframes manscreenpopup {
    0%,
    45%,
    55%,
    65%,
    75%,
    85% {
      transform: scale(0);
    }
    to {
      transform: scale(1);
    }
  }
  @keyframes manscreenfloat {
    0%,
    to {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-15px);
    }
  }
  @keyframes manscreenfloata {
    0%,
    to {
      transform: translateY(0);
    }
    90% {
      transform: translateY(-15px);
    }
  }
  
  .svg-animation-container {
    margin: auto;
    width: 70%;
    height: 100%;
  }
  
  .rectanglework {
    animation-name: manscreenpopup;
    animation-iteration-count: 1;
    animation-duration: 3.6s;
    animation-timing-function: ease-in-out;
    transform-origin: 526.882px 383px;
  }
  .rectanglework {
    animation-duration: 3s;
  }
  
  .rectanglemove {
    animation-name: manscreenfloat;
    animation-iteration-count: infinite;
    animation-duration: 9s;
    animation-timing-function: ease-in-out;
  }
  .rectanglemove {
    animation-duration: 6s;
  }
  
  .rectwork {
    animation-name: manscreenpopup;
    animation-iteration-count: 1;
    animation-duration: 3.6s;
    animation-timing-function: ease-in-out;
    transform-origin: 526.882px 383px;
  }
  .rectwork {
    animation-duration: 3s;
  }
  
  .rectfloat {
    animation-name: manscreenfloat;
    animation-iteration-count: infinite;
    animation-duration: 9s;
    animation-timing-function: ease-in-out;
  }
  .rectfloat {
    animation-duration: 6s;
  }
  
  .circlemove {
    animation-name: manscreenfloata;
    animation-iteration-count: infinite;
    animation-duration: 9s;
    animation-timing-function: ease-in-out;
  }
  .circlemove {
    animation-duration: 6s;
  }

/*Media queries to make cards responsive*/

@media screen and (max-width: 1500px){
  .table-div{
    width: 80%;
  }
  .table-div-2{
    width: 80%;
  }
}

@media screen and (max-width: 1150px){
  .img-container{
    width: 40%;
  }
  .referenceTitleName{
    width: 55%;
  }
}

@media screen and (max-width: 900px){
  .reference-row{
    flex-direction: column;
    justify-content: space-around;
    row-gap: 40px;
  }
  .left-row{
    width: 100%;
    margin-top: 100px;
    text-align: center;
  }
  .right-row{  
    width: 100%;
    height: auto;
    min-height: 250px;
  }
  .table-div{
    flex-direction: column;
  }
  .table-div-2{
    flex-direction: column-reverse;
  }
  .referenceTitleName{
    width: 100%;
    margin-top: 20px;
  }
  .img-container{
    min-height: 200px;
    min-width: 200px;
  }
  .profile-pic-2{
    height: 100%;
    border-radius: 10% 50%;
    border: 20px solid rgb(181, 6, 250);
  }
}

@media screen and (max-width: 750px){
  .profile-pic{
    border: 15px solid rgb(181, 6, 250);
  }
  .profile-pic-2{
    border: 15px solid rgb(181, 6, 250);
  }
  .reference-name {
    column-gap: 10px;
  }
}

@media screen and (max-width: 400px){
  .img-container{
    min-height: 165px;
    min-width: 165px;
  }
}