@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

.section-title{
    padding: 0 15px;
    flex:0 0 100%;
    max-width:100%;
    text-align:center;
    
    margin-bottom: 60px;
}
.maintitle h2{
    font-family: "Poppins";
}
.section-title h2{
    
    display:inline-block;
    font-size: 30px;
    font-weight:700;
    color:var(--text-black-900);
    text-transform:uppercase;
    margin:0;
    font-family: "Poppins";

}
.section-title h2:before{
    content:attr(data-heading);
    display:block;
    font-size:16px;
    font-weight:600;
    color:#fb839e;
    font-family: "Poppins";
}
.about-section .about-img{
    flex:0 0 40%;
    max-width: 40%;
    padding:0 15px;
}
.about-section .about-info{
    flex:0 0 60%;
    max-width: 60%;
    padding:0 15px;
}

.aboutme{
    padding-top:70px;
    text-align:center;
}
.abouttext{
    margin-top:30px;
    text-align:left;
    
}


.btn-1{
    border-radius: 20px;
}
.card-header {
    
    align-items: center;
    margin:10px;
    padding-top:10px;
    padding-left: 5px;
    font-family: 'Poppins';
    
}
.header h3{
    text-align: center;
    font-family: 'Poppins';
}
.containers {
	max-width: 1100px;
    margin: 0 auto;
    padding-bottom: 20px;
}
.cards {
	z-index: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.card {
	margin: 30px auto;
  width: 300px;
  height: 300px;
  border-radius: 40px;
box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.3), -5px -5px 30px 7px rgba(59, 46, 46, 0.12);
  cursor: pointer;
  transition: 0.4s;
}
.imgs{
    padding-top: 5px;
    
    grid-gap:0.5rem;
    position:relative;
    display:flex;
    justify-content: center;
    align-items: center;
    padding-left:10px;
    padding-right:10px;
}
.skill-icon{
    z-index:2;
    align-items: center;
    grid-template-columns: repeat(3,1fr);

}
.card:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
      -5px -5px 30px 15px rgba(0,0,0,0.22);
  }
  @media all and (max-width: 500px) {
    .cards {
      
      flex-direction: column;
    }
  }
/*.containers{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: centre;
    align-items:centre;
    text-align:centre;
    grid-gap:1rem;
    padding:1rem 80px;
    font-size:1.2rem;

}
.skill-title{
    display:flex;
    flex-direction:column;
    align-items:center;
    padding:0.5rem;
    margin-bottom:0.5rem;
}
.imgs{
    width:90px;
    height:90px;
    position:relative;
    display:flex;
    justify-content: center;
    align-items: center;
}
.skill-icon{
    z-index:2;
}
 @media screen and (max-width:990px){
     .containers{
         grid-template-columns: repeat(2,1fr);
         padding:2rem 50px;
     }
 }
 @media screen and (max-width:650px){
    .containers{
        grid-template-columns:1fr;
       
    }
}*/