
span {
	 position: relative;
	 display: inline;
	 margin: 0px 0px;
     
}
.FooterAnimation{
	 display: inline;
	 width: 215px;
	 padding: 10px 0 10px 15px;
	 font-family: "Open Sans", sans;
	 font-weight: 400;
	 color: #377d6a;
	 background: #efefef;
	 border: 0;
	 border-radius: 3px;
	 outline: 0;
	 text-indent: 82px;
	 transition: all 0.3s ease-in-out;
}
 .FooterAnimation::-webkit-input-placeholder {
	 color: #efefef;
	 text-indent: 0;
	 font-weight: 300;
}
 .FooterAnimation + label {
	 display: inline;
	 position: absolute;
	 transform: translateX(0);
	 top: 1;
	 left: 0;
	 padding: 11px 15px;
	 text-shadow: 0 1px 0 ;
	 transition: all 0.3s ease-in-out;
	 border-top-left-radius: 3px;
	 border-bottom-left-radius: 3px;
	 overflow: hidden;
      
}
 .FooterAnimation + label:before, .FooterAnimation + label:after {
	 content: "";
	 position: absolute;
	 right: 0;
	 left: 0;
	 z-index: -1;
	 transition: all 0.3s ease-in-out;
     text-indent: 75px;
}
 .FooterAnimation + label:before {
	 top: 5px;
	 bottom: 5px;
	 background: #25c29c;
	 border-top-left-radius: 3px;
	 border-bottom-left-radius: 3px;
     
}
 .FooterAnimation + label:after {
	 top: 0;
	 bottom: 0;
	 background:#25c29c ;
     
}
 .FooterAnimation:focus, .FooterAnimation:active {
	 color: #377d6a;
	 text-indent: 0;
	 background: #fff;
}
 .FooterAnimation:focus::-webkit-input-placeholder, .FooterAnimation:active::-webkit-input-placeholder {
	 color: #aaa;
}
 .FooterAnimation:focus + label, .FooterAnimation:active + label {
	 transform: translateX(-100%);
}
 .FooterAnimation:focus + label:after, .FooterAnimation:active + label:after {
	 transform: translateX(100%);
     
}
#yourName {
    background-color: aliceblue;
}
#yourEmail {
    background-color: aliceblue;
}
#yourMessage {
    background-color: aliceblue;
}