html,
html *,
body,
body * {
  cursor: none;
}

.cursor-dot, .cursor-dot-outline {
  pointer-events: none;
  position: absolute;
  z-index:1;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.cursor-dot {
  width: 8px;
  height: 8px;
  background-color: #dc5656;
}
.cursor-dot-outline {
  width: 40px;
  height: 40px;
  background-color: rgba(229, 128, 128, 0.5);
}