*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}
#bg_section{
    height: 100vh;
    width: 100vw;
    background: #000;
    position: relative;
}
#darkbg{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -111;
}
#home{
    position:absolute;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
#home .box_container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 2rem;
}
#home .box_container .box{
    height: 26rem;
    width: 25rem;
    background: #fff;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0 .3rem .5rem rgba(0,0,0,0.3);
    margin: 2rem;
    cursor: pointer;
}
#home .box_container .box i{
    font-size: 3rem;
    margin: 2rem 0;
    color: #fff;
    height: 6rem;
    width: 6rem;
    background: #C638FA;
    border-radius: 50%;
    text-align: center;
    line-height: 6rem;
    transition: .2s;
}
#home .box_container .box h3{
    font-size: 2rem;
    color:#FF046F;
    transition: .2s;
}
#home .box_container .box p{
    font-size: 1.3rem;
    padding: .7rem 2rem;
    color: #666;
}