/* Dark and Light theme */

html[data-theme = 'light']
{
  --bg1-color: #ecf0f3;
  --shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  --border:1px solid #ecf0f3;
}

html[data-theme = 'dark']
{
  --bg1-color: #272727;
  --shadow: 0 4px 8px 0 rgba(104, 102, 102, 0.2);
  --border:none;
}

/* -----Education Section CSS----- */

.sect
{
    height: 140vh;
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    object-fit: fill;
}

.s2
{
    overflow-x: hidden;
}

.s2 .head{
  font-size:2rem;
}

.s2 h4{
  margin-bottom: -0.3rem;
}

.qual{
  margin-bottom: 2rem;
}

.s2 p
{
  margin-top: -0.5rem;
  font-weight: 450;
  font-size: 2.5vh;
}
.s2 .card img
{
    height: 90%;
    width: 90%;
}
.s2 .card, .s2 img
{
    border-radius: 3rem;
}

.s2 h4,h6,p{
  color:black;
}

/* Card Hover Effect */

.mooc-title{
  color: black;
}

.content {
  position: relative;
  width: 100%;
  padding: 10px;
  margin: auto;
  overflow: hidden;
  height: 75%;
}

.content .content-overlay {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay {
  opacity: 0.8;
}

.content-details {
  position: absolute;
  text-align: center;
  width: 100%;
  left: 50%;
  top: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details {
  left: 50%;
  top: 50%;
  opacity: 1;
  transition: 0.3s ease-in;
}
.fadeIn-bottom {
  top: 80%;
}

#mooc .card {
  border-radius: 5px;
  background: #ecf0f3;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
}

#mooc .card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}
#mooc .card-body {
  background-color: #fff;
  padding:1px;
}

/* Certificate Carousel  */
#myCarousel{
  text-align: center;
  margin-bottom: 6vh;
  height:42vh;
  width: 52vh;
}

#myCarousel img{
  height: 42vh;
  width: 52vh;
}
