* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/* variables */
html {
  --dull-white: #ced4e2;
  --dull-black: #141516;
  --purple: #8456c4;
  --white-color: #ffffff;
  --greyish: #2b2a2a;
  --green-color: #62aa54;
}
/* dark mode */
html,
nav {
  background-color: var(--dull-black) !important;
  color: var(--dull-white) !important;
}
nav {
  background-color: var(--greyish) !important;
}
nav a {
  color: var(--dull-white) !important;
}
.heading {
  color: var(--purple);
}
.image-slider .swiper-slide {
  position: relative;
  display: grid;
  align-self: center;
  overflow: hidden;
}

.image-slider .swiper-slide .wrapper {
  margin-top: 200px;
  margin-bottom: 200px;
}

.image-slider .swiper-slide .img-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 95%;
}
.image-slider .swiper-slide .img-container img {
  width: 85%;
  height: 100%;
}

.image-slider .swiper-slide .title {
  font-size: 3rem;
  color: var(--dull-white);
  text-transform: uppercase;
}

.image-slider .swiper-slide .description {
  color: var(--dull-white);
  font-size: 1rem;
  text-align: justify;
}

.image-slider .controls {
  position: absolute;
  left: 0;
  top: 50%;
  margin-left: 3px;
}
.image-slider .controls1 {
  position: absolute;
  right: 0;
  top: 50%;
  margin-right: 3px;
}

.image-slider .ctrl {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  color: var(--white-color);
  display: grid;
  place-items: center;
  background-image: none;
  position: relative;
}

.image-slider .ctrl:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.image-slider .ctrl.next-ctrl {
  margin-left: 20px;
}

.image-slider .text-wrapper {
  overflow: hidden;
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.image-slider .text-wrapper .text-inner {
  -webkit-transform: translateY(100%);
  color: var(--dull-white);
  transform: translateY(100%);
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.image-slider .swiper-slide-active.active .text-inner {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}

.image-slider .swiper-slide.active .sub-title .text-inner {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
}

.image-slider .swiper-slide.active .title .text-inner {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.image-slider .swiper-slide.active .description .text-inner {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}

/* positioning */
.container {
  position: relative;
}
.row {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.event_svg {
  height: 100%;
}

.arrow_contain {
  width: 85%;
}
.root_block {
  margin-top: 8%;
}
/* Responsiveness*/
@media only screen and (max-width: 1000px) {
  .heading {
    margin-top: 10%;
  }
  .root_block {
    margin-top: 12%;
  }
  .image-slider .text-wrapper .text-inner {
    font-size: 45px;
  }
}
@media only screen and (max-width: 790px) {
  .image-slider .ctrl {
    height: 50px;
    width: 50px;
  }
  .image-slider .text-wrapper .text-inner {
    font-size: 40px;
  }
  .root_block {
    margin-top: 17%;
  }
  .arrow_contain {
    width: 100%;
  }

  .image-slider .swiper-slide .img-container img {
    width: 100%;
    height: 80%;
  }
  .block_two {
    height: 80% !important;
  }
  .controls,
  .controls1 {
    bottom: 0;
  }
}
@media only screen and (max-width: 690px) {
  .root_block {
    height: 85% !important;
    margin-top: 22%;
  }
  .image-slider .text-wrapper .text-inner {
    font-size: 35px;
  }
}
@media only screen and (max-width: 500px) {
  .root_block {
    height: 85% !important;
    margin-top: 32%;
  }
  .image-slider .swiper-slide .title {
    font-size: 3rem !important;
  }
  .image-slider .ctrl {
    height: 40px;
    width: 40px;
  }
  .heading {
    margin-top: 8%;
    margin-bottom: 0% !important;
  }
  .image-slider .text-wrapper .text-inner {
    font-size: 30px;
  }
  .image-slider .swiper-slide .img-container {
    height: 90%;
  }
}
