@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Math&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Poppins", sans-serif;
    
  }
/* variables */
    html{
      --dull-white:#ced4e2;
      --dull-black:#141516;
      --purple:#8456c4;
      --white-color: #ffffff;
      --greyish:#2b2a2A;
      --green-color:#62aa54;
}
/* dark mode */
    html,nav {
        background-color: var(--dull-black)  !important;
        color: var(--dull-white) !important;
    }
    nav{
        background-color:var(--greyish) !important;
    }
    nav a{
        color: var(--dull-white) !important;  
    }


.event_heading{
    color:var(--purple);
}

.image-slider .swiper-slide {
  position: relative;
  display: grid;
  align-self: center;
  overflow: hidden;
}

.image-slider .swiper-slide .wrapper {
  margin-top: 200px;
  margin-bottom: 200px;
}

.image-slider .swiper-slide .img-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
          height:95%;
}
.image-slider .swiper-slide .img-container img{

    width:85%;
    height:100%;
}


.image-slider .swiper-slide .title {
  font-size: 3rem;
  color: var(--dull-white);
  text-transform: uppercase;
}

.image-slider .swiper-slide .description {
  color: var(--dull-white);
  font-size: 1rem;
  text-align: justify;
}

.image-slider .controls {
    position: absolute;
    left:0;
    top:50%;
    margin-left:3px;
}
.image-slider .controls1 {
    position: absolute;
    right:0;
    top:50%;
    margin-right:3px;}

.image-slider .ctrl {
  height: 60px;
  width: 60px;
  border: 1px solid var(--white-color);
  color: var(--white-color);
  border-radius: 500px;
  display:grid;
  place-items: center;
  background-image: none;
  position: relative;}

.image-slider .ctrl:hover {
  color: var(--dull-black);
  background-color: var(--white-color);
}

.image-slider .ctrl.next-ctrl {
  margin-left: 20px;
}

.image-slider .text-wrapper {
  overflow: hidden;
  width:100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.image-slider .text-wrapper .text-inner {
  -webkit-transform: translateY(100%);
  font-family: 'STIX Two Math', serif;
  color:var(--green-color);
   transform: translateY(100%);
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.image-slider .swiper-slide-active.active .text-inner {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.image-slider .swiper-slide.active .sub-title .text-inner {
  -webkit-transition-delay: 0.05s;
          transition-delay: 0.05s;
}

.image-slider .swiper-slide.active .title .text-inner {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.image-slider .swiper-slide.active .description .text-inner {
  -webkit-transition-delay: 0.15s;
          transition-delay: 0.15s;
}

/* positioning */
.container{
    position: relative;
    
}
.row{
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.event_svg{
height:100%;
}

/* SVG Animation */
#LeftHand{
    animation: rotate 2s infinite alternate;
    transform-box: fill-box;
}
@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(5deg);
    }
    
}
#lines{
    animation: colorchange 4s infinite alternate;
}
@keyframes colorchange{
    0%{
      fill:#E2E2EC;
    }
    100%{
        fill:#8456c4;


    }
}

#Bud{
    animation: tofro 3s ease infinite alternate;
    transform-origin:center;
    transform-box:fill-box;
}
@keyframes tofro {
    0%{
        transform: rotate(-9deg);
    }
    100%{
        transform: rotate(9deg);
        
    }
}
#leaf1{
    animation: shake-bottom 9s ease infinite alternate;
    transform-origin:center;
    transform-box: fill-box;
}


#leaf3 {
    animation: shake-bottom 7.5s ease infinite alternate;
    transform-origin:center;
    transform-box: fill-box;
}
#leaf2{
    animation: shake-bottom 7s ease infinite alternate;
    transform-origin:left;
    transform-box: fill-box;
}
@keyframes ident {
    0%
     {
       
        transform:translateY(-12px);
       
    }
    
    100% {
        transform: translateY(5px);
    }
}
#leaf4 {
    animation: shake-bottom 6.5s ease infinite alternate;
    transform-origin:center;
    transform-box: fill-box;
}
@keyframes shake-bottom {
    0%,
    100% {
       
        transform: rotate(0deg);
        transform-origin: 50% 100%;
    }
    10% {
        transform: rotate(2deg);
    }
    20%,
    40%,
    60% {
        transform: rotate(-4deg);
    }
    30%,
    50%,
    70% {
        transform: rotate(4deg);
    }
    80% {
        transform: rotate(-2deg);
    }
    90% {
        -webkit-transform: rotate(2deg);
        transform: rotate(2deg);
    }
}

#leaf{
    animation:peek 3s ease infinite alternate;
}
@keyframes peek {
    0%
    {
        transform: rotate(-3deg);
    }
    100%{
        transform: rotate(1deg);
    }
}
#BG{
    animation:size 3s ease infinite alternate;
    transform-origin:center;

}
@keyframes size {
    0%
    {
        transform: scale(1);
    }
    100%{
        transform: scale(1.1);
    }
    
}
.arrow_contain{
    width:85%;
}
.root_block{
    margin-top:10%;
}
/* Responsiveness*/
@media only screen and (max-width: 1000px){
    .root_block{
        height:120%;
        margin-top:15%;
    }
    .block_one{
        height:25% !important;
    }

}
@media only screen and (max-width: 790px){
    .root_block{
        height:100% !important;
    }
    .arrow_contain{
        width:100%;
    }
    .heading{
        margin-top: 35%;
    }
    .image-slider .swiper-slide .img-container img{

        width:100%;
        height:85%;
    }
    .block_two{
        height:80% !important;
    }
    .controls,.controls1{
      bottom: 0;
    }
}
@media only screen and (max-width: 650px){
    .root_block{
        height:85% !important;
    }
    .image-slider .swiper-slide .title {
        font-size: 3rem !important;}
}