/*Declaration of CSS variables for light/dark theme*/

html[data-theme="light"] {
  --bg-icon: #fff;
  --col-icon-twitter: #1da1f2;
  --col-icon-dribbble: #ea4c89;
  --col-icon-linkedin: #0e76a8;
  --col-icon-medium: #00ab6c;
  --col-icon-kaggle: #41aff3;
  --col-icon-github: #24292e;
  --shadow-col: rgba(0, 0, 0, 0.3);
}

html[data-theme="dark"] {
  --bg-icon: rgba(255, 255, 255, 0.9);
  --col-icon-twitter: #1da1f2;
  --col-icon-dribbble: #ea4c89;
  --col-icon-linkedin: #0e76a8;
  --col-icon-medium: #00ab6c;
  --col-icon-kaggle: #41aff3;
  --col-icon-github: #24292e;
  --col-white: #fff;
}

/* Particle effect*/

#home,
#particles-js {
  position: relative;
  height: 100vh;
  width: 100%;
}

.section {
  background-color: rgb(63, 25, 170);
  justify-content: center;
  align-items: center;
}

.text span {
  font-weight: bold;
}

.text {
  font-size: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.animated-text span {
  display: none;
  line-height: 1;
}

.animated-text span.active {
  display: inline-block;
}

.animated-text:after {
  content: ".";
  display: inline-block;
  width: 10px;
  text-indent: 0;
  /* overflow: hidden; */
  background: var(--col-icon);
  animation: blink 0.3s infinite alternate;
}

@keyframes blink {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/*Social icons*/

:root {
  --link-size: 64px;
  --trans-props: all 0.3s ease;
  --link-size-footer-b: 40px;
  --link-size-footer-s: 30px;
}

.social-icons {
  display: flex;
  font-size: 20px;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
}

.social-icon {
  display: flex;
  position: relative;
  overflow: hidden;
  width: var(--link-size);
  height: var(--link-size);
  margin: 8px;
  background-color: var(--bg-icon);
  border-radius: 50%;
  box-shadow: 2px 5px 5px var(--shadow-col);
  text-decoration: none;
  transition: var(--trans-props);
}

.social-icon i {
  margin: auto;
  font-size: 24px;
  color: var(--col-icon-twitter);
  z-index: 1;
  transition: var(--trans-props);
}

.dribbble i {
  margin: auto;
  font-size: 24px;
  color: var(--col-icon-dribbble);
  z-index: 1;
  transition: var(--trans-props);
}
.linkedin i {
  margin: auto;
  font-size: 24px;
  color: var(--col-icon-linkedin);
  z-index: 1;
  transition: var(--trans-props);
}
.medium i {
  margin: auto;
  font-size: 24px;
  color: var(--col-icon-medium);
  z-index: 1;
  transition: var(--trans-props);
}
.kaggle i {
  margin: auto;
  font-size: 24px;
  color: var(--col-icon-kaggle);
  z-index: 1;
  transition: var(--trans-props);
}
.github i {
  margin: auto;
  font-size: 24px;
  color: var(--col-icon-github);
  z-index: 1;
  transition: var(--trans-props);
}

.social-icon:after {
  content: "";
  width: var(--link-size);
  height: var(--link-size);
  position: absolute;
  transform: translate(0, var(--link-size));
  border-radius: 50%;
  transition: var(--trans-props);
}

.social-icon.twitter:after {
  background-color: #1da1f2;
  box-shadow: var(--twitter);
}

.social-icon.github:after {
  background-color: #24292e;
  box-shadow: var(--github);
}

.social-icon.linkedin:after {
  background-color: #0e76a8;
  box-shadow: var(--linkedin);
}

.social-icon.kaggle:after {
  background-color: #41aff3;
  box-shadow: var(--kaggle);
}

.social-icon.dribbble:after {
  background-color: #ea4c89;
  box-shadow: var(--kaggle);
}

.social-icon.medium:after {
  background-color: #00ab6c;
  box-shadow: var(--medium);
}

/*** Social Icon Animations ***/

.social-icon:hover {
  transform: translateY(-4px);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.16);
}

.social-icon:hover i {
  color: #fff;
}

.social-icon:hover:after {
  transform: translate(0) scale(1.2);
}

a:hover {
  color: transparent;
}

/* Footer container */

.webintern-footer {
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.footer-left {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: auto;
}

.footer-left .footer-img {
  width: 80%;
  margin: 8px auto;
}

.footer-left img {
  width: 50%;
  display: block;
  margin: auto;
}

.footer-left .footer-text {
  width: 90%;
  margin: 8px auto;
}

.footer-left .footer-text p {
  font-size: 1rem;
  width: 80%;
  margin: auto;
  text-align: center;
  display: block;
}

.footer-left .footer-icons {
  display: flex;
  width: 70%;
  margin: 1rem auto;
  justify-content: space-around;
}

.footer-left .footer-icons a {
  border: 1px solid #b4b2b2;
  background-color: #b4b2b2;
  border-radius: 50%;
  padding: 8px;
}

.footer-left .footer-icons a.instagram {
  color: var(--col-icon-dribbble);
}

.footer-left .footer-icons a.git {
  color: #000;
}

.footer-left .footer-icons a:hover {
  background-color: #000;
  border: 1px solid #000;
  color: #fff;
  transition: 0.2s;
}

.footer-left .footer-icons a.twitter:hover {
  color: var(--col-icon-twitter);
}

.footer-left .footer-icons a.instagram:hover {
  color: var(--col-icon-dribbble);
}

.footer-left .footer-icons a.github:hover {
  color: var(--col-white);
}

.footer-left .footer-icons a i {
  padding: 8px;
  font-size: 1.5rem;
}

.footer-left .footer-email {
  width: 70%;
  margin: auto;
  display: block;
  text-align: center;
}

.footer-left .email-icon {
  color: #fff;
  padding: 12px;
}

.footer-left .email-icon i {
  padding: 10px;
  font-size: 2rem;
}

/* Contact Form */
.footer-right {
  display: flex;
  width: 50%;
  flex-direction: column;
  margin: auto;
}

.footer-right h6 {
  text-transform: uppercase;
  text-decoration: underline var(--col-icon-twitter);
  margin-left: 8px;
}

::placeholder {
  color: #000;
  font-size: 1rem;
}

.footer-right .name, .footer-right .email, .footer-right .msg {
  padding: 8px;
}

.footer-right .name input, .footer-right .email input, .footer-right .msg textarea {
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 1px 8px;
  background-color: #fff;
  display: block;
  width: 80%;
}

.footer-right .msg textarea {
  width: 83%;
  padding: 10px;
  height: 8vh;
}

.footer-right form button {
  width: 80%;
  margin: 8px;
  padding: 8px;
  border: none;
  background-color: var(--col-icon-medium);
  color: #fff;
  border-radius: 5px;
}
/* Responsive */
@media only screen and (max-width: 450px) {
  .text {
    margin-top: 5rem;
  }

  a.footer-email i {
    font-size: 1.2rem;
    right: 8px;
  }

  .webintern-footer {
    display: flex;
    flex-direction: column;
  }
  .footer-left, .footer-right {
    width: 100%;
  }

  .footer-left .footer-icons  {
    width: 100%;
    flex-wrap: wrap;
    padding: 3px;
  }

  .footer-left .footer-icons a  {
    padding: 2px;
  }

  .footer-left .footer-text {
    width: 100%;
    margin: 8px auto;
  }

  .footer-left .footer-text p {
    width: 100%;
  }

  .footer-left .email-icon i {
    padding: 10px;
    font-size: 1.8rem;
  }

  .footer-right .name input, .footer-right .email input  {
    width: 98%;
  }

  .footer-right .msg textarea {
    width: 104%;
  }

  .footer-right form button {
    width: 98%;
    margin: 8px;
  }
  
}


