/* Particle effect*/

#home,
#particles-js {
  position: relative;
  height: 100vh;
  width: 100%;
}
.section {
  background-color: rgb(63, 25, 170);
  justify-content: center;
  align-items: center;
}

.text span {
  font-weight: bold;
}

.text {
  font-size: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.animated-text span {
  display: none;
  line-height: 1;
}
.animated-text span.active {
  display: inline-block;
}
.animated-text:after {
  content: ".";
  display: inline-block;
  width: 10px;
  text-indent: 0;
  /* overflow: hidden; */
  background: #000;
  animation: blink 0.3s infinite alternate;
}
@keyframes blink {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*Social icons*/

:root {
  --link-size: 64px;
  --trans-props: all 0.3s ease;
  --link-size-footer-b: 40px;
  --link-size-footer-s: 30px;
}

.social-icons {
  display: flex;
  font-size: 20px;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
}

.social-icon {
  display: flex;
  position: relative;
  overflow: hidden;
  width: var(--link-size);
  height: var(--link-size);
  margin: 8px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.18);
  text-decoration: none;
  transition: var(--trans-props);
}
.social-icon i {
  margin: auto;
  font-size: 24px;
  color: #000;
  z-index: 1;
  transition: var(--trans-props);
}

.social-icon:after {
  content: "";
  width: var(--link-size);
  height: var(--link-size);
  position: absolute;
  transform: translate(0, var(--link-size));
  border-radius: 50%;
  transition: var(--trans-props);
}

.social-icon.twitter:after {
  background-color: #1da1f2;
}

.social-icon.github:after {
  background-color: #24292e;
}

.social-icon.linkedin:after {
  background-color: #0e76a8;
}

.social-icon.kaggle:after {
  background-color: #41aff3;
}

.social-icon.dribbble:after {
  background-color: #ea4c89;
}

.social-icon.medium:after {
  background-color: #00ab6c;
}

/*** Social Icon Animations ***/

.social-icon:hover {
  transform: translateY(-4px);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.16);
}

.social-icon:hover i {
  color: #fff;
}

.social-icon:hover:after {
  transform: translate(0) scale(1.2);
}

a:hover {
  color: transparent;
}
/* Responsive */
@media only screen and (max-width: 450px) {
  .text {
    margin-top: 5rem;
  }
}

/*social icons footer*/

.social-icons-footer {
  font-size: 20px;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  width: 220px;
  display: block;
}

.social-icon-footer {
  display: flex;
  position: relative;
  overflow: hidden;
  width: var(--link-size-footer-s);
  height: var(--link-size-footer-s);
  margin: 3px;
  background-color: #26a69a;
  border-radius: 50%;
  text-decoration: none;
  float: left;
}

.social-icon-footer i {
  margin: auto;
  font-size: 20px;
  color: #fff;
}

.social-icon-footer:hover i {
  color: #000000;
}

/*Responsive*/

@media(min-width: 60rem)
{
  .social-icons-footer{
    width: 280px;
  }

  .social-icon-footer{
    width: var(--link-size-footer-b);
    height: var(--link-size-footer-b);
  }
}

/*Animations*/

.social-icon-footer:hover {
  transform: translateY(-4px);
  box-shadow: 0px 4px 12px rgb(100, 248, 233);
}

.social-icon:hover:after {
  transform: translate(0) scale(1.2);
}

a:hover {
  color: transparent;
}