/*Card*/

body,
html {
  font-family: "Open Sans", sans-serif;
  color: #000;
}

.col-md-4 {
  padding: 40px;
}

.skill-card {
  position: relative;
  transform: translateY(-50%) translateX(-50%);
  padding: 20px;
  top: 50%;
  left: 50%;
  width: 20em;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  cursor: pointer;
}

.skill-card .skill-card__header {
  position: relative;
  background-color: #eb6c3f;
  height: 200px;
  margin: -20px -20px 20px -20px;
  transition: height 0.5s;
  overflow: hidden;
}

.skill-card .skill-card__header .skill-card__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  display: block;
  width: 200px;
  height: 180px;
  transition: transform 0.5s;
}

.skill-card .skill-card__body {
  height: 50px;
  transition: height 0.5s;
  overflow: hidden;
}

.skill-card .skill-card__body .skill-card__title {
  font-size: 1.4em;
  font-weight: 600;
  margin: 0px;
}

.skill-card .skill-card__body .skill-card__duration {
  color: #9e9e9e;
  font-style: italic;
}

.skill-card .skill-card__body .skill-card__knowledge {
  margin-top: 10px;
  color: #424242;
}

.skill-card .skill-card__body .skill-card__knowledge li {
  margin-top: 5px;
  transition-duration: 0;
  transition-delay: 0.5s;
  transform: translateX(-100%);
}

.skill-card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.skill-card:hover .skill-card__header {
  height: 40px;
}

.skill-card:hover .skill-card__header .skill-card__icon {
  transform: translateX(-50%) translateY(-50%) scale(3);
}

.skill-card:hover .skill-card__body {
  height: 170px;
}

.skill-card:hover .skill-card__body .skill-card__knowledge li {
  transform: translateX(0);
  transition-timing-function: cubic-bezier(0, 1.5, 1, 1);
  transition-duration: 0.5s;
}

.skill-card:hover .skill-card__body .skill-card__knowledge li:nth-child(1) {
  transition-delay: 0.25s;
}

.skill-card:hover .skill-card__body .skill-card__knowledge li:nth-child(2) {
  transition-delay: 0.5s;
}

.skill-card:hover .skill-card__body .skill-card__knowledge li:nth-child(3) {
  transition-delay: 0.75s;
}

.skill-card:hover .skill-card__body .skill-card__knowledge li:nth-child(4) {
  transition-delay: 1s;
}

.skill-card:hover .skill-card__body .skill-card__knowledge li:nth-child(5) {
  transition-delay: 1.25s;
}

.skill-card:hover .skill-card__body .skill-card__knowledge li:nth-child(6) {
  transition-delay: 1.5s;
}

/* Resopnsive*/
@media only screen and (max-width: 767px) {
  .project-box {
    margin-top: 18rem;
  }
}

@media only screen and (max-width: 450px) {
  .project-box {
    margin-top: 10rem;
  }
}

@media only screen and (max-width: 915px) and (min-width: 767px) {
  .skill-card {
    width: 16em;
  }
}