html[data-theme = 'light']
{
  --bg-col: #fafafa;
  --shadow1: rgba(0, 0, 0, 0.3);
  --shadow2: rgba(0, 0, 0, 0.2);
  --text: #191919;
  --neu-light: white;
  --neu-dark: #c3c3c3;
  --neu-color: #c3c3c3;
  --neu-icon: #c3c3c3;
}

html[data-theme = 'dark']
{
  --bg-col: #272727;
  --shadow1: rgba(128, 122, 122, 0.233);
  --shadow2: rgba(231, 216, 216, 0.007);
  --text: #ced4e2;
  --neu-light: #282828;
  --neu-dark: #080808;
  --neu-color: white;
  --neu-icon: whitesmoke;
}

body {
  color: var(--text);
  background-color: var(--bg);
}

.projects_head {
  font-weight: bold;
}


/*color of projects page heading*/

.my_projects {
  color: #0e49b5;
}

.light-mode-button {
  background: 0;
  border: 0;
  box-sizing: border-box;
  cursor: pointer;
  height: 40px;
  width: 100px;
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0);
}

.topp {
  padding-top: 5rem;
}
@media only screen and (max-width:767px){
  .topp {
    padding-top: 3rem;
  }
}

/* .topp > section {
  height: 75vh;
}

@media only screen and (m-width:767px){
  .topp > section {
    height: 65vh;
  }
}

@media only screen and (max-width:400px){
  .topp > section {
    height: 70vh;
  }
} */

.light-mode-button:focus {
  outline: none;
  /* Not ideal for accessibility */
}

.light-mode-button span:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 40px;
  border-radius: 20px;
  background-color: #d6d7db;
  box-shadow: inset 1px 1px 3px 0 rgb(0 0 0 / 40%);
  transition: .3s;
}

.light-mode-button span:nth-child(2) {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 1px 1px 2px 0 rgb(0 0 0 / 40%);
  transition: .3s;
}

body {
  background-color: #f6f6f6;
  transition: background-color .3s;
}

body[light-mode=dark] {
  background-color: #141516;
  color: #ced4e2;
}

body[light-mode="dark"] .light-mode-button span:nth-child(1) {
  background-color: #ced4e2;
  color: #141516;
}

body[light-mode=dark] .light-mode-button span:nth-child(2) {
  left: 65px;
  background-color: #141516;
}

.drop-down{
  display: flex;
}
.upper-view {
  display: none;
}

@media only screen and (max-width:767px) {
  .drop-down{
    display: none;
  }
  .upper-view {
    display: flex;
  }
}

.light-mode-button span:nth-child(2) {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 1px 1px 2px 0 rgb(0 0 0 / 40%);
    transition: .3s;
}

body {
    background-color: #f6f6f6;
    transition: background-color .3s;
}

body[light-mode=dark] {
    background-color: #141516;
    color: #ced4e2;
}

body[light-mode="dark"] .light-mode-button span:nth-child(1) {
    background-color: #ced4e2;
    color: #141516;
}

body[light-mode=dark] .light-mode-button span:nth-child(2) {
    left: 65px;
    background-color: #141516;
}

@media (max-width:767px) {
    .godown {
        z-index: 1;
        padding-left: 3.3rem;
    }
}
@media (max-width:400px) {
  .godown {
      padding-left: 2.3rem;
  }
}

.img-header{
  width: 90%;
  height: 90%;
}

a:hover {
    text-decoration: none;
}

.skill-card {
    border: none;
}

.row {
  display: flex;
}

.gapp{
  padding-left: 0;
  padding-right: 0;
  margin: 0 auto;
}

.column{
  margin-top: calc(1rem + 15px);
  margin-right: calc(1rem + 15px);
  margin-left: calc(1rem + 15px);
  margin-bottom: calc(1rem + 15px);
  transition: 0.4s margin-top,
    0.4s margin-right,
    0.4s margin-left,
    0.4s margin-bottom;
  -webkit-transition: 0.4s margin-top,
    0.4s margin-right,
    0.4s margin-left,
    0.4s margin-bottom;
}

@media only screen and (min-width:1300px) {
  .column {
    margin-top: calc(1rem + 25px);
    margin-right: calc(1rem + 25px);
    margin-left: calc(1rem + 25px);
    margin-bottom: calc(1rem + 25px);
    transition: 0.4s margin-top,
    0.4s margin-right,
    0.4s margin-left,
    0.4s margin-bottom;
    -webkit-transition: 0.4s margin-top,
    0.4s margin-right,
    0.4s margin-left,
    0.4s margin-bottom;
  }
}
@media only screen and (max-width:400px) {
  .column {
    margin-top: 1.5rem;
    margin-right: calc(1rem + 25px);
    margin-left: calc(1rem + 25px);
    margin-bottom: 1.5rem;
    transition: 0.4s margin-top,
    0.4s margin-right,
    0.4s margin-left,
    0.4s margin-bottom;
    -webkit-transition: 0.4s margin-top,
    0.4s margin-right,
    0.4s margin-left,
    0.4s margin-bottom;
  }
}

@media(min-width: 60rem)
{
  .row {
    margin-top: 0em;
  }

  .card {
    width: 43%;
    column-gap: 3rem;
    transition: width 0.8s;
  }
}

.card .menu-content {
  list-style-type: none;
  right: 0;
}

.card .menu-content li {
    display: inline-block;
}

.card .content {
  padding: 1rem;
  z-index: 1;
}

.card .title-div {
  width: 100%;
  margin: 0;
}

.card .title {
  padding-bottom: 1rem;
  margin-top: 0em;
  font-size: 1.5rem;
}

.skill-card {
  width: 325px;
  border: 0;
}

.skill-card .header {
  background: rgba(0, 0, 0, 0.5);
}

.skill-card .menu-content {
    float: right;
}

.skill-card .menu-content li {
    margin: 0 2px;
    position: relative;
}

.skill-card .menu-content span {
    transition: all 0.3s;
    opacity: 0;
}

.skill-card .title a {
    color: #fff;
}


/*social icons*/

ul {
    padding-inline-start: 0px;
}

.menu-content{
  margin: 0;
  margin-bottom: 0.2rem;
  margin-left: 1rem;
}

.social-icon svg:hover {
    fill: #fff;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.project-box {
  flex-direction: column;
  align-items: center;
  margin-bottom: 10%;
}

.page-content {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
}


/* Responsive*/

@media only screen and (max-width:665px){
  .skill-card {
    width: 325px;
    border: 0;
    transition: 0.4s width;
  }
}

@media only screen and (max-width:400px){
  .skill-card {
    width: 300px;
    border: 0;
    transition: 0.4s width;
  }
  
  .card .title{
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 767px) {
  .project-box {
    margin-top: 8rem;
    margin-bottom: 15%;
    transition: 0.4s margin-top;
  }
}

@media only screen and (max-width: 450px) {
  .project-box {
    margin-top: 5rem;
    margin-bottom: 15%;
    transition: 0.4s margin-top;
  }
}

.main{
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
}

.left {
    position: relative;
}

.right {
    position: relative;
}

@media screen and (max-width:480px) {
    .main {
        display: flex;
        flex-direction: column-reverse;
    }
}

/*
----------------------------
SVG ANIMATIONS PROJECT PAGE
----------------------------
*/

@keyframes ekumanslidein {
    0% {
        transform: translateX(-600px)
    }
    50% {
        transform: translateX(-600px) scaleX(1)
    }
    75% {
        transform: translateX(30px) scaleX(.9)
    }
    87.5% {
        transform: translateX(-5px)
    }
    97% {
        transform: translateX(3px)
    }
    to {
        transform: translateX(0) scaleX(1)
    }
}

@keyframes ekumanarmrotate {
    0%,
    45%,
    65%,
    85%,
    to {
        transform: rotate(0deg)
    }
    55%,
    75% {
        transform: rotate(-5deg)
    }
}

@keyframes ekumanhairwobble {
    50%,
    to {
        transform: scaleX(1)
    }
    75% {
        transform: scaleX(1.2)
    }
    87.5% {
        transform: scaleX(.8)
    }
    97% {
        transform: scaleX(1.09)
    }
}

@keyframes ekuwomanlidein {
    0% {
        transform: translateX(600px)
    }
    50% {
        transform: translateX(600px) scaleX(1)
    }
    75% {
        transform: translateX(-30px) scaleX(.9)
    }
    87.5% {
        transform: translateX(5px)
    }
    97% {
        transform: translateX(-3px)
    }
    to {
        transform: translateX(0) scaleX(1)
    }
}

@keyframes kulapdropin {
    0% {
        transform: translateY(-230px) scale(0) rotate(0deg)
    }
    35% {
        transform: translateY(-230px) scale(1.03) rotate(20deg)
    }
    45% {
        transform: rotate(10deg)
    }
    50% {
        transform: translateY(-5px) scale(.98) rotate(0deg)
    }
    55% {
        transform: translateY(-10px) scale(1.01) rotate(0deg)
    }
    60% {
        transform: translateY(0) scale(1)
    }
    to {
        transform: translateY(0)
    }
}

@keyframes ekuwomanarmrotate {
    0%,
    45%,
    65%,
    85%,
    to {
        transform: rotate(0deg)
    }
    55%,
    75% {
        transform: rotate(10deg)
    }
}

@keyframes ekuwomanarmbackrotate {
    0%,
    45%,
    65%,
    85%,
    to {
        transform: rotate(0deg)
    }
    55%,
    75% {
        transform: rotate(-13deg)
    }
}

@keyframes manscreenpopup {
    0%,
    45%,
    55%,
    65%,
    75%,
    85% {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

@keyframes manscreenfloat {
    0%,
    to {
        transform: translateY(0)
    }
    50% {
        transform: translateY(-10px)
    }
}

@keyframes backhairwave {
    0%,
    to {
        transform: scaleX(1) skewX(0) skewY(0)
    }
    50% {
        transform: scaleX(1.07) skewX(3deg) skewY(5deg)
    }
}

#ku.svgmate #Bluearmbot,
#ku.svgmate #Chair,
#ku.svgmate #chairbackbar,
#ku.svgmate #man,
#ku.svgmate .mankauf {
    animation-name: ekumanslidein;
    animation-iteration-count: 1;
    animation-duration: 1.2s;
    animation-timing-function: ease-out;
    transform-origin: 502px 454px
}

#ku.svgmate #Bluearmbot,
#ku.svgmate #Chair,
#ku.svgmate #chairbackbar,
#ku.svgmate .mankauf {
    animation-duration: 1.5s
}

#ku.svgmate #Bluearmbot {
    animation-name: ekumanarmrotate;
    animation-iteration-count: infinite;
    animation-duration: 1.8s;
    animation-delay: 1.2s;
    transform-origin: 448.122px 403.482px
}

#ku.svgmate .mankauf {
    animation-name: ekumanhairwobble;
    animation-duration: 1.38s;
    transform-origin: 396.257px 260.5px
}

#ku.svgmate #Chair_1_,
#ku.svgmate #Woman,
#ku.svgmate #back-arm,
#ku.svgmate #backleg_1_ {
    animation-name: ekuwomanlidein;
    animation-iteration-count: 1;
    animation-duration: 1.8s;
    animation-timing-function: ease-out;
    transform-origin: 502px 454px
}

#ku.svgmate #Chair_1_ {
    animation-duration: 1.95s
}

#ku.svgmate #Laptop,
#ku.svgmate #keyboard {
    animation-name: kulapdropin;
    animation-iteration-count: 1;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    transform-origin: 648.689px 361.659px
}

#ku.svgmate #keyboard {
    animation-duration: 2.5s;
    transform-origin: 479.857px 383px
}

#ku.svgmate #lowerarm,
#ku.svgmate #lowervackarm {
    animation-name: ekuwomanarmrotate;
    animation-iteration-count: infinite;
    animation-duration: 1.8s;
    animation-delay: 2.1s;
    animation-timing-function: ease-out;
    transform-origin: 751.134px 385.578px
}

#ku.svgmate #lowervackarm {
    animation-name: ekuwomanarmbackrotate;
    transform-origin: 736.882px 386px
}

#ku.svgmate #Man_screen .greenscreen,
#ku.svgmate #Man_screen .redscreen,
#ku.svgmate #Man_screen .screenbutton {
    animation-name: manscreenpopup;
    animation-iteration-count: 1;
    animation-duration: 3.6s;
    animation-timing-function: ease-in-out;
    transform-origin: 526.882px 383px
}

#ku.svgmate #Man_screen .greenscreen,
#ku.svgmate #Man_screen .redscreen {
    animation-duration: 3s
}

#ku.svgmate #Man_screen .greenscreen {
    animation-duration: 3.3s
}

#ku.svgmate #Man_screen,
#ku.svgmate #Man_screen .greenscrmove,
#ku.svgmate #Man_screen .redskmove,
#ku.svgmate .womscreenmove {
    animation-name: manscreenfloat;
    animation-iteration-count: infinite;
    animation-duration: 9s;
    animation-timing-function: ease-in-out
}

#ku.svgmate #Man_screen .greenscrmove,
#ku.svgmate #Man_screen .redskmove {
    animation-duration: 6s
}

#ku.svgmate #Man_screen .greenscrmove {
    animation-duration: 7.2s
}

#ku.svgmate #hairback,
#ku.svgmate #womanscreen {
    animation-name: manscreenpopup;
    animation-iteration-count: 1;
    animation-duration: 3.9s;
    animation-timing-function: ease-in-out;
    transform-origin: 648.689px 361.659px
}

#ku.svgmate #hairback {
    animation-name: backhairwave;
    animation-iteration-count: infinite;
    animation-duration: 3.3s;
    transform-origin: 785.132px 295.833px
  }

  
  
  .card-wrap {
    -webkit-transform: perspective(800px);
    transform: perspective(800px);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    cursor: pointer;
  }
  
  .card-wrap:hover .content .menu-content {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  
  .card-wrap:hover .content .menu-content {
    -webkit-transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1);
    transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .card-wrap:hover .content:after {
    -webkit-transition: 5s cubic-bezier(0.23, 1, 0.32, 1);
    transition: 5s cubic-bezier(0.23, 1, 0.32, 1);
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  
  .card-wrap:hover .wrapper {
    -webkit-transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1),
      opacity 5s cubic-bezier(0.23, 1, 0.32, 1);
    transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1),
      opacity 5s cubic-bezier(0.23, 1, 0.32, 1);
    opacity: 0.8;
  }
  
  .card-wrap:hover .card {
    -webkit-transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1),
      box-shadow 2s cubic-bezier(0.23, 1, 0.32, 1);
    transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1),
      box-shadow 2s cubic-bezier(0.23, 1, 0.32, 1);
    box-shadow: rgba(255, 255, 255, 0.2) 0 0 40px 5px, white 0 0 0 1px, rgba(0, 0, 0, 0.55) 0 25px 55px 0;
  }
  
  .card {
    min-height: 21.5rem;
    position: relative;
    -webkit-box-flex: 0;
    background-color: #333;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.55) 0 25px 55px 0;
    -webkit-transition: 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    transition: 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    border-radius: 0;
  }
  
  .wrapper {
    opacity: 0.55;
    position: absolute;
    top: -20px;
    left: -20px;
    width: 112%;
    height: 112%;
    padding: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-transition: 1s cubic-bezier(0.445, 0.05, 0.55, 0.95),
      opacity 5s 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    transition: 1s cubic-bezier(0.445, 0.05, 0.55, 0.95),
      opacity 5s 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    pointer-events: none;
  }
  
  .content {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #fff;
    -webkit-transition: 0.6s 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: 0.6s 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  
  .content .menu-content {
    opacity: 0;
    -webkit-transform: translateY(40%);
    transform: translateY(40%);
    text-shadow: black 0 2px 3px;
    -webkit-transition: 0.6s 1.0s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: 0.6s 1.0s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  
  .content * {
    position: relative;
    z-index: 1;
  }
  
  .content:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(transparent),
      to(rgba(0, 0, 0, 0.5))
    );
    background-image: linear-gradient(
      to bottom,
      transparent 0%,
      rgba(0, 0, 0, 0.5) 100%
    );
    background-blend-mode: overlay;
    opacity: 0;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition: 5s 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    transition: 5s 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  }
  
  .content h1 {
    text-shadow: rgba(0, 0, 0, 0.5) 0 10px 10px;
  }