/*Card*/ 

.container{
  width: 100%;
}
.card img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.card {
  background: #fff;
  box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  border: #707070;
}

.card img {
  width: 100%;
  padding:10px
}

.card-title {
  font-weight: bold !important;
  font-size: 30px !important;
  margin: 5px 0 0 0;
}

.card-description p {
  font-size: 20px !important;
  color: black;
  text-align: justify;
}

.card-description p{
  margin-bottom: 0.5rem !important;
  opacity: 0.8;
}

.card-title,
.card-description {
  padding: 0 10px;
}

/*Social media icons*/

.social-icons{
  padding-left: 15px !important;
  list-style: none;
  margin-top: 2px;
}

.social-icons li {
  display: inline-block;
  margin: 0.2em;
  position: relative;
  font-size: 1em;
}

.social-icons i {
  color: black;
  position: absolute;
  top: 0.40em;
  left: 0.45em;
  width: 10px;
  height: 10px;
  transition: all 265ms ease-out;
}

.social-icons a {
  display: inline-block;
  width: 41px;
  height: 41px;
  border-radius: 100%;
  display: block;
  box-shadow: 0 5px 15px -1px rgba(0,0,0,0.1);
  opacity: 0.89;
}

.social-icons .fa {
  font-size: 25px;
}

.social-icons i :before {
  top: 90%;
  left: -110%;
}
.social-icons .fa {
  transform: scale(0.8);
}

.social-icons a:hover{
  background-color: black;
}

.social-icons :focus .fa,
.social-icons :hover .fa {
  color: #fff;
  transform: scale(0.85);
}

.social-icons i :before {
 transform: rotate(45deg);
}

/* Resopnsive*/
@media only screen and (max-width: 767px) {
.project-box{
   margin-top: 16rem;
}
}

@media only screen and (max-width: 450px) {
  .project-box{
     margin-top: 10rem;
  }
  }