/*Import font*/

@import url('https://fonts.googleapis.com/css2?family=Londrina+Outline&display=swap');

/*Declaring CSS variables for Light mode*/

html[data-theme = 'light']
{
    --bg-head : #f5f5f5;
    --bg-col: #fafafa;
    --p-up: black;
    --bg-cite-y: #f5f5f5;
    --cite-bg: #fff;
    --cite-head: rgb(221, 217, 217);
    --cite-col-txt: #333;
    --cite-close: #333;
    --cite-hover: black;
    --hover-link: rgb(189, 3, 189);
    --shadow-col1: rgba(0,0,0,0.05);
    --shadow-col2: rgba(75,0,0,0.05);
    --ppr-col: purple;
}

/*Declaring CSS variables for Dark Mode*/

html[data-theme = 'dark']{
    --bg-col: black;
    --text-gra: ;
    --bg-txt-img: linear-gradient(315deg, #d5adc8 0%, #ff8489 74%);
    --txt-fill: transparent;
    --p-up: #fff;
    --bg-head: rgba(0, 0, 0, 0.877);
    --bg-head-img: rgba(0, 0, 0, 0.877);
    --bg-cite-y: rgba(0, 0, 0, 0.877);
    --black-two: rgba(0, 0, 0, 0.877);
    --cite-head: rgb(59, 55, 55);
    --cite-bg: black;
    --cite-col-txt: #fff;
    --cite-close: rgba(0, 0, 0, 0.192);
    --cite-hover: #fff;
    --hover-link: rgb(236, 103, 125);
    --shadow-col1:rgb(46, 37, 37);
    --shadow-col2:rgba(21, 22, 22, 0.459);
    --ppr-col: rgb(231, 85, 109);
}

/*For Changing background color of body according to theme*/
body{
    background: var(--bg-col) !important;
}

*,
*:before,
*:after{
    box-sizing: border-box;
}

.p-upper{
    color: var(--p-up);
}

/*Research page*/

.researchMainWrapper {
    margin: 50px 0 200px;
    position: relative;                 
    color: var(--p-up);
} 

#researchDetailsTable {
    border-collapse: separate;
    border-width: 0;
    empty-cells: show;
    border-spacing: 3em;
    position: relative;
}

#researchDetailsTable {
    width: 100%;
}

#researchDetailsTable tr{
    box-shadow: 0.25rem 0.25rem 0.6rem var(--shadow-col1), 0 0.5rem 1.125rem var(--shadow-col2);
}

#rDetailsHead {
    z-index: 700;                             
    background-color: #f5f5f5;
    height: 42px;
    box-sizing: border-box;
}

.researchTitle {
    font-weight: bold;
    padding: 16px 16px 0 16px;
    text-align: left;
    box-sizing: border-box;
    text-transform: uppercase;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
    background-color: var(--bg-head);
    background-image: var(--bg-head-img);
}

.researchTitle span {
    display: inline-block;
    vertical-align: middle;
    margin-right: 16px;
}

.researchTitle span a {
    padding: 8px 0;
}

.researchCited {
    font-weight: bold;
    text-align: right;
    padding: 16px 8px 0 8px;
    width: 64px;
    white-space: nowrap;
    box-sizing: border-box;
    text-transform: uppercase;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
    background-color: var(--bg-cite-y);
}

.researchYear {
    font-weight: bold;
    padding: 16px 16px 0 16px;
    text-align: right;
    width: 88px;
    white-space: nowrap;
    box-sizing: border-box;
    text-transform: uppercase;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
    background-color: var(--bg-cite-y);
}

.researchTitleName {
    padding: 16px;
    vertical-align: top;
    text-align: left;
}

.paperTitle:hover{
    text-decoration: none;
    color: var(--hover-link);
}

.paperTitle {
    padding: 8px 0;
    font-size: 16px;
}

.researchCitedNumber span,
.researchY span {
    display: inline-block;
    margin-top: 3px;
    color: grey;
}

.rConferences{
    font-style: italic;
    font-size: 0.88em;
}

.researchY {
    font-weight: normal;
    vertical-align: top;
    text-align: left;
    color: grey;
    margin-top: 1em;
}

.researchCite{
    text-align: right;
    vertical-align: top;
}

.resCite{
    display: none;
}

/*Profile pic responsiveness*/
@media only screen and (max-width: 711px) {

    .researchCite{
        display: none;
    }

    .resCite{
        display: block;
    }
}

/*Responsive*/

@media only screen and (max-width: 441px) {
    .researchTitleName a {
        font-size: 14px;
    }

    .researchTitleName div {
        font-size: 12px;
    }
}

.paperTitle{
    font-weight: bold;
    color: var(--ppr-col);
}

/*IMAGES SECTION OF LIST*/
.rImg{
    margin-left: -2.5em;
}

.imgRes{
    width: 14em;
    height: 14em;
}

.imgResponsive{
    display: none;
    margin-bottom: 1em;
}

@media only screen and (max-width: 711px) {
    .imgResponsive{
        display: block;
    }

    .rImg{
        display: none;
    }

    .imgCol{
        display: none;
    }
}

@media(min-width: 60rem)
{
    .rImg{
        width: 15em;
        height: 15em;
    }
}

/*Button for Citing*/

.button{
    text-decoration: none;
    text-transform: uppercase;
    border-width: 2px;
    border-style: solid;
    padding: 0.3em 1.3em;
    display: inline-block;
    cursor: pointer;
    margin-top: 1em;
}

button-small{
    font-size: 0.5rem;
    font-weight: 700;
}

.button-accent{
    color: var(--ppr-col);
    border-color: var(--ppr-col);
}

.button-accent:hover,
.button-accent:focus{
    background: var(--ppr-col);
    color: #fff;
    text-decoration: none;
}

@media(min-width: 60rem){
   .button{
       font-size: 1.2rem;
       margin-top: 0em;
   }
}

/*Popup for cite*/

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    z-index: 900;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}
  
.popup {
    margin: 20px auto;
    background: var(--cite-bg);
    width: 50%;
    position: relative;
    transition: all 5s ease-in-out;
}
  
.popup h5 {
    margin-top: 0;
    text-align: center;
    color: var(--cite-col-txt);
    background-color: var(--cite-head) !important;
    padding: 8px;
    position: sticky;
    font-size: 1em;
}
 
/*Close button for popup*/

.popup .close {
    position: absolute;
    left: 30px;
    top: 5px;
    transition: all 200ms;
    font-size: 30px;
    text-decoration: none;
    color: var(--cite-close);
}

.popup .close:hover {
    color: var(--cite-hover);
}

.popup .content {
    max-height: 70%;
    overflow: auto;
    font-size: 1em;
}

/*Responsive*/

@media(min-width: 60rem)
{
    .cite-div{
        margin-top: -2em;
    }

    .popup h5{
        padding: 15px;
        font-size: 1.6em;
    }

    .popup .close{
        top: 20px;
    }

    .popup .content{
        font-size: 1em;
    }
}
  
@media screen and (max-width: 700px){
    .popup{
      width: 100%;
    }
}

/*Table for research works*/

.left-cell{
    font-size: 0.8em;
    text-align: right;
    color: grey;
    vertical-align: top;
}

.right-cell{
    font-size: 0.8em;
    color: var(--p-up);
}

 /*social icons footer*/

 .social-icons-footer {
    font-size: 20px;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    width: 220px;
    display: block;
  }
  
  .social-icon-footer {
    display: flex;
    position: relative;
    overflow: hidden;
    width: var(--link-size-footer-s);
    height: var(--link-size-footer-s);
    margin: 3px;
    background-color: #26a69a;
    border-radius: 50%;
    text-decoration: none;
    float: left;
  }
  
  .social-icon-footer i {
    margin: auto;
    font-size: 15px;
    color: #fff;
  }
  
  .social-icon-footer:hover i {
    color: #000000;
  }
  
  /*Responsive*/
  
  @media(min-width: 60rem)
  {
    .social-icons-footer{
      width: 280px;
    }
  
    .social-icon-footer{
      width: var(--link-size-footer-b);
      height: var(--link-size-footer-b);
    }
  
    .social-icon-footer i{
      font-size: 20px;
    }
  }
  
  /*Animations*/
  
  .social-icon-footer:hover {
    transform: translateY(-4px);
    box-shadow: 0px 4px 12px rgb(100, 248, 233);
  }
  
  .social-icon:hover:after {
    transform: translate(0) scale(1.2);
  }
  
  a:hover {
    color: transparent;
  }