*@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800&display=swap');

{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	
}

.container11 
{
	position: relative;
	width: 500px;
}

.container h2
{
	color: #fff;
}

.container11 .skills
{
	position: relative;
	display: flex;
	margin: 20px 0;
	padding: 24px 10px 18px;
	background: linear-gradient(#616161 0%, #333 10%, #222);
	border-radius: 8px;
	overflow: hidden;
	border: 2px solid #000;
	transition: 0.5s;
}


.container11 .skills:before
{
	content: '';
	position: absolute;
	top: 0;1
	left: 0;
	width: 100%;
	height: 50%;
	background: rgba(255,255,255,.1);
	z-index: 10;
}
.container .skills .Name
{
	position: relative;
	width: 110px;
	text-align: right;
	color: #fff;
	margin-top: -2px;
	text-transform: uppercase;
}

.container .skills .Value
{
	position: relative;
	width: 40px;
	text-align: left;
	color: #fff;
	margin-top: -2px;
	text-transform: uppercase;
}

.container .skills .percent
{
	position: relative;
	width: calc(100% - 150px);
	height: 20px;
	margin: 0 10px;
	border-radius: 10px;
	background: #151515;
	box-shadow: inset 0 0 10px #000;
	overflow: hidden;
}

.container .skills .percent .progress
{
	position: absolute;
	top: 0;
	left: 0;
	width: 70%;
	height: 100%;
	border-radius: 10px;
	background: #fff;
	box-shadow: inset 0 0 2px #000;
	animation: animate 4s ease-in-out forwards;

}

@keyframes animate 
{
	from 
	{
		width: 0;
	}
}

.container .skills:nth-child(2) .percent .progress
{
	background: linear-gradient(45deg, #1fe6ff, #673AB7);
}
.container .skills:nth-child(3) .percent .progress
{
	background: linear-gradient(45deg, #3bc0ff, #33ff00);
}
.container .skills:nth-child(4) .percent .progress
{
	background: linear-gradient(45deg, #ffee54, #ff00ca);
}
.container .skills:nth-child(5) .percent .progress
{
	background: linear-gradient(45deg, #22ffde, #2196F3);
}
.container .skills:nth-child(6) .percent .progress
{
	background: linear-gradient(45deg, #3bc0ff, #33ff00);
}
.container .skills:nth-child(7) .percent .progress
{
	background: linear-gradient(45deg, #ffee54, #ff00ca);
}
