/*CSS variable declaration for light/dark mode*/
html[data-theme = 'light']
{  --background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
   --bg-mybtn: red;
   --bg-nav: #000000;
   --bg-nav-img: #000000;
   --bg: #ffffff;
   --text: #191919;
   --btn-color: #000000;
}

html[data-theme = 'dark']
{  --background: linear-gradient(45deg,red 20% ,#00E0E0 70%,orange 20% , yellow 20%);
	--bg-mybtn: rgb(230, 109, 129);
	--bg-nav: #6617cb;
  --bg-nav-img: linear-gradient(315deg, #6617cb 0%, #882463 74%);
  --bg: #191919;
  --text: #ffffff;
  --btn-color: #6617cb;
}

body {
  height: 100vh;
  margin: 0;
  overflow-x: hidden;
  color: var(--text);
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
}

/* Top button */

/* smooth scrolling to top */
html {
  scroll-behavior: smooth;
}

/*Top button dark/light mode*/

#myBtn {
	display: none;
	position: fixed;
	bottom: 40px;
	right: 30px;
	z-index: 99;
	font-size: 18px;
	border: none;
	outline: none;
	color: white;
	cursor: pointer;
	padding: 13px 15px 15px 15px;
	border-radius: 50%;
  }
  
  .glow-on-hover {
    width: 70px;
    height: 50px;
    border: none;
    outline: none;
    color: #26a69a;
    background: #26a69a;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: var(--background);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
    background: var(--btn-color);
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}


/* NAVBAR*/

.nav-wrapper a:hover,
.sidenav a:hover {
  text-decoration: none;
}

  /*Navbar dark mode(research page)*/
 
  .black{
	background-color: var(--bg-nav);
  background-image: var(--bg-nav-img);
  }

.nav-wrapper a {
  font-weight: bold;
}

.sidenav-trigger {
  margin-left: 0px !important;
}

.brand-logo img {
  width: 200px;
}

h1,
p {
  display: inline-block;
  line-height: 1;
  font-family: "Poppins", sans-serif;
  margin: 20px 0;
  font-weight: 300;
  font-size: 18px;
}

/*toggle for light/dark mode*/

.toggle-checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.side-toggle{
    height: 2em;
    width: 5em;
}

.toggle-slot {
  position: relative;
  height: 3.5em;
  width: 8em;
  border: 5px solid #e4e7ec;
  border-radius: 10em;
  background-color: white;
  box-shadow: 0px 10px 25px #e4e7ec;
  transition: background-color 250ms;
  margin-top: 1em;
  margin-left: 1.5em;
}

.toggle-checkbox:checked ~ .toggle-slot{
  background-color: #374151;
}

.toggle-button {
  transform: translate(11.75em, 1.75em);
  position: absolute;
  height: 2em;
  width: 2em;
  border-radius: 50%;
  background-color: #ffeccf;
  box-shadow: inset 0px 0px 0px 0.75em #ffbb52;
  transition: background-color 250ms, border-color 250ms, transform 500ms cubic-bezier(.26,2,.46,.71);
  margin-top: -1.5em;
  margin-left: -7em;
}

.toggle-checkbox:checked ~ .toggle-slot .toggle-button {
  background-color: #485367;
  box-shadow: inset 0px 0px 0px 0.75em white;
  transform: translate(7.5em, 1.75em);
}

.sun-icon {
  position: absolute;
  height: 2em;
  width: 2em;
  color: #ffbb52;
  margin-top: -1.2em;
  margin-left: -2em;
}

.sun-icon-wrapper {
  position: absolute;
  height: 3em;
  width: 3em;
  opacity: 1;
  transform: translate(2em, 2em) rotate(15deg);
  transform-origin: 50% 50%;
  transition: opacity 150ms, transform 500ms cubic-bezier(.26,2,.46,.71);
}

.toggle-checkbox:checked ~ .toggle-slot .sun-icon-wrapper{
  opacity: 0;
  transform: translate(3em, 2em) rotate(0deg);
}

.moon-icon {
  position: absolute;
  height: 2em;
  width: 2em;
  color: white;
  margin-top: -3.5em;
  margin-left: -6.5em;
}

.moon-icon-wrapper {
  position: absolute;
  height: 3em;
  width: 3em;
  opacity: 0;
  transform: translate(11em, 2em) rotate(0deg);
  transform-origin: 50% 50%;
  transition: opacity 150ms, transform 500ms cubic-bezier(.26,2.5,.46,.71);
}

.toggle-checkbox:checked ~ .toggle-slot .moon-icon-wrapper{
  opacity: 1;
  transform: translate(12em, 2em) rotate(-15deg);
}

/*Transition for Toggle*/

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 750ms !important;
  transition-delay: 0 !important;
}

/*Footer*/

.webintern-footer {
  background-color: var(--bg-nav);
  background-image: var(--bg-nav-img);
}

.webintern-footer-inner {
  padding-top: 30px;
  padding-bottom: 10px;
}

.webintern-footer-logo {
  display: inline-block;
}

.webintern-footer .webintern-footer-inner .simple-text p {
  color: #fff;
  margin-top: 20px;
  margin-bottom: 15px;
}

.simple-text p {
  font-size: 15px;
  color: #42435d;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 0;
}

@media (min-width: 60rem) {
  .simple-text p {
    font-size: 26px;
  }
}

.footer-2 {
  float: right;
  margin-right: 0px;
}
.webintern_footer_title {
  margin-top: 0px;
  margin-bottom: 25px;
}
.webintern_footer_title small {
  font-family: "Work Sans", sans-serif;
  color: #fff;
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;
}
.webintern_footer_title:after {
  content: "";
  display: block;
  width: 8rem;
  height: 2px;
  background: #26a69a;
  margin-top: 15px;
}

.contact-form #exampleInputEmail1 {
  background-color: #fff;
  padding: 0.375rem 0.75rem;
  height: 2rem;
  width: 93%;
  font-size: 15px;
  border-radius: 2px;
  margin-bottom: 0px;
}

.form-control:focus {
  box-shadow: none;
  border-bottom: 2px solid #26a69a;
}
.form-group {
  padding-left: 0px;
}

.webintern-footer .webintern-footer-inner .simple-text p {
  color: #fff;
  margin-top: 20px;
  margin-bottom: 15px;
  display: block;
  width: 220px;
}

.simple-text p {
  font-size: 15px;
  color: #42435d;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 0;
}

.footer-2 {
  float: right;
  margin-right: 0px;
}
.webintern_footer_title {
  margin-top: 0px;
  margin-bottom: 25px;
}
.webintern_footer_title small {
  font-family: "Work Sans", sans-serif;
  color: #fff;
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;
}
.webintern_footer_title:after {
  content: "";
  display: block;
  width: 8rem;
  height: 2px;
  background: #26a69a;
  margin-top: 15px;
}

.contact-form #exampleInputEmail1 {
  background-color: #fff;
  padding: 0.375rem 0.75rem;
  height: 2rem;
  width: 93%;
  font-size: 15px;
  border-radius: 2px;
}
.tt-copy {
  font-size: 15px;
  line-height: 20px;
  color: #fff;
  padding: 10px 0;
  font-family: "Open Sans", sans-serif;
}

/*Responsive*/

@media (min-width: 60rem) {
  .simple-text p {
    font-size: 26px;
    text-align: center;
  }

  .webintern-footer .webintern-footer-inner .simple-text p {
    width: 280px;
  }
}

.send-btn {
  padding-top: 8px 5px 8px 5px;
  font-size: 15px;
  transition-property: font-size;
  transition: all 0.5s ease;
  outline: none;
}
.send-btn:hover {
  background-color: #0dfde5;
  font-size: 18px;
}

.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none;
  background-color: #26a69a;
  color: #fff;
}

.form-group:focus {
  border: 3px solid black;
}

.tt-copy {
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  color: #fff;
  padding: 10px 0;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 2px;
}

.text-animation {
  animation: text 3s 1;
}

@keyframes text {
  0% {
    letter-spacing: 0px;
  }
  50% {
    letter-spacing: 20px;
  }
  100% {
    letter-spacing: 2px;
  }
}

/*social icons footer*/

:root {
  --link-size: 64px;
  --trans-props: all 0.3s ease;
  --link-size-footer-b: 40px;
  --link-size-footer-s: 30px;
}

.social-icons-footer {
  font-size: 20px;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  width: 220px;
  display: block;
}

.social-icon-footer {
  display: flex;
  position: relative;
  overflow: hidden;
  width: var(--link-size-footer-s);
  height: var(--link-size-footer-s);
  margin: 3px;
  background-color: #26a69a;
  border-radius: 50%;
  text-decoration: none;
  float: left;
}

.social-icon-footer:hover{
  background-color: #0dfde5;
}

.social-icon-footer i {
  margin: auto;
  font-size: 15px;
  color: #fff;
}

.social-icon-footer:hover i {
  color: #000000;
}

/*Responsive*/

@media (min-width: 60rem) {
  .social-icons-footer {
    width: 280px;
  }

  .social-icon-footer {
    width: var(--link-size-footer-b);
    height: var(--link-size-footer-b);
  }

  .social-icon-footer i {
    font-size: 20px;
  }
}

/*Animations*/

.social-icon-footer:hover {
  transform: translateY(-4px);
  box-shadow: 0px 4px 12px rgb(100, 248, 233);
}

.social-icon:hover:after {
  transform: translate(0) scale(1.2);
}

a:hover {
  color: transparent;
}
