body {
	height: 100vh;
	margin: 0;
	color: #191919;
	font-family: 'Poppins', sans-serif;
	background-color: #ffffff;
}

.nav-wrapper a:hover , .sidenav a:hover {
	text-decoration: none;
}

.nav-wrapper a{
	font-weight: bold;
}

#particles-js {
	position: absolute;
	height: 100%;
	width: 100%;
}
.section {
	justify-content: center;
	align-items: center;
}
.text {
	font-size: 40px;
}

.img {
	display: inline-block;
	height: 100px;
	z-index: 100;
}

h1,
p {
	color: black;
	display: inline-block;
	text-align: center;
	font-size: 18px;
	line-height: 1;
	font-family: 'Poppins', sans-serif;
	margin: 20px 0;

	font-weight: 300;
}

.animated-text span {
	display: none;
	line-height: 1;
}
.animated-text span.active {
	display: inline-block;
}
.animated-text:after {
	content: 'i';
	display: inline-block;
	width: 2px;
	text-indent: -100px;
	overflow: hidden;
	background: #aaa;
	animation: blink 0.3s infinite alternate;
}
@keyframes blink {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
