/*CSS variable declaration for light/dark mode*/
html[data-theme="light"] {
  --bg-mybtn: red;
  --bg-nav:black;
  --bg-nav-img: black;
  --bg-footer:#DDE1EC;
  --bg: #ffffff;
  --text: #191919;
  --text-color: #6c757d;
  --col-icon: black;
  --col-bd-radius:rgb(2, 2, 2);
  --col-box-shadow:#000000 2px 2px 4px, 
  #4D4D4D -2px -2px 4px;
 --col-box-shadow-hover:inset #8a7373 2px 2px 4px, 
 inset #4D4D4D -2px -2px 4px;
  --col-bd-icon:transparent;
  --bg-icon: #fff;
  --col-icon-twitter: #1da1f2;
  --col-icon-dribbble: #ea4c89;
  --col-icon-linkedin: #0e76a8;
  --col-icon-medium: #00ab6c;
  --col-icon-kaggle: #41aff3;
  --col-icon-github:#24292e;  
  --col-icon-instagram: rgb(201, 94, 174);
  --col-icon-mail:rgb(209, 82, 82);
  --col-icon-google-scholar:#3cba54;
  --col-icon-codeforces:rgb(19, 145, 184);
  --col-icon-leetcode:rgb(255, 181, 62);
  --shadow-col: rgba(0, 0, 0, 0.3);

}

html[data-theme="dark"] {
  --bg-mybtn: rgb(230, 109, 129);
  --bg-nav: #6617cb;
  --bg-nav-img: linear-gradient(315deg, #6617cb 0%, #882463 74%);
  --bg-footer:linear-gradient(315deg, #6617cb 0%, #882463 74%);
  --bg: #191919;
  --text: #ffffff;
  --text-color: #fff;
  --bg-txt-img: linear-gradient(315deg, #d5adc8 0%, #ff8489 74%);
  --txt-fill: transparent;
  --col-icon:white;
  --col-bd-radius:black;
  --col-bd-icon:transparent;
  --col-box-shadow: 5px 5px 10px rgba(22, 21, 21, 0.7) , -5px -5px 10px rgba(255,255,255,0.1);
  --col-box-shadow-hover:inset rgba(255, 255, 255, 1) 2px 2px 4px, 
 inset rgba(255, 255, 255, 0.5) -2px -2px 4px;
  --col-icon-twitter: #1da1f2;
  --col-icon-dribbble: #ea4c89;
  --col-icon-linkedin: #0e76a8;
  --col-icon-medium: #00ab6c;
  --col-icon-kaggle: #41aff3;
  --col-icon-github:  #24292e;
  --col-icon-instagram: rgb(201, 94, 174);
  --col-icon-mail:rgb(209, 82, 82);
  --col-icon-google-scholar:#3cba54;
  --col-icon-codeforces:rgb(19, 145, 184);
  --col-icon-leetcode:rgb(255, 181, 62);
  --col-white: #fff;
}

body {
  height: 100vh;
  margin: 0;
  overflow-x: hidden;
  color: var(--text);
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
}

/* Top button */

/* smooth scrolling to top */
html {
  scroll-behavior: smooth;
}

/*starting part of every page*/

.main-heading {
  font-size: 4em;
  font-weight: bolder;
  background: var(--bg-txt-img);
  -webkit-background-clip: text;
  -webkit-text-fill-color: var(--txt-fill);
  padding-bottom: 0.1em;
}

.pre-heading {
  font-size: 1.1em;
  letter-spacing: 2px;
  line-height: normal;
  color: var(--text-color);
}

/* NAVBAR*/

.nav-wrapper a:hover,
.sidenav a:hover {
  text-decoration: none;
}

.nav-wrapper {
  margin-left: 10px;
  margin-right: 10px;
}

/*Navbar dark mode(research page)*/

.black {
  background-color: var(--bg-nav);
  background-image: var(--bg-nav-img);
}

.nav-wrapper a {
  font-weight: bold;
}
.sidenav{
    z-index: 1031;
}
.sidenav-trigger {
  margin-left: 0px !important;
}

.brand-logo img {
  width: 200px;
}

h1,
p {
  display: inline-block;
  line-height: 1;
  font-family: "Poppins", sans-serif;
  margin: 20px 0;
  font-weight: 300;
  font-size: 18px;
}

/*toggle for light/dark mode*/

.toggle-checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.side-toggle {
  height: 2em;
  width: 5em;
}

.toggle-slot {
  position: relative;
  height: 3.5em;
  width: 8em;
  border: 5px solid #e4e7ec;
  border-radius: 10em;
  background-color: white;
  transition: background-color 250ms;
  margin-top: 1em;
  margin-left: 1.5em;
  cursor: pointer;
}

.toggle-checkbox:checked ~ .toggle-slot {
  background-color: #374151;
}


.toggle-button {
  transform: translate(11.75em, 1.75em);
  position: absolute;
  height: 2em;
  width: 2em;
  border-radius: 50%;
  background-color: #ffeccf;
  box-shadow: inset 0px 0px 0px 0.75em #ffbb52;
  transition: background-color 250ms, border-color 250ms,
    transform 500ms cubic-bezier(0.26, 2, 0.46, 0.71);
  margin-top: -1.5em;
  margin-left: -7em;
  cursor: pointer;
  pointer-events: all;
}

.theme-switch {
  pointer-events: none;
}

.toggle-checkbox:checked ~ .toggle-slot .toggle-button {
  background-color: #485367;
  box-shadow: inset 0px 0px 0px 0.75em white;
  transform: translate(7.5em, 1.75em);
}

.sun-icon {
  position: absolute;
  height: 2em;
  width: 2em;
  color: #ffbb52;
  margin-top: -1.2em;
  margin-left: -2em;
}

.sun-icon-wrapper {
  position: absolute;
  height: 3em;
  width: 3em;
  opacity: 1;
  transform: translate(2em, 2em) rotate(15deg);
  transform-origin: 50% 50%;
  transition: opacity 150ms, transform 500ms cubic-bezier(0.26, 2, 0.46, 0.71);
}


.toggle-checkbox:checked ~ .toggle-slot .sun-icon-wrapper {
  opacity: 0;
  transform: translate(3em, 2em) rotate(0deg);
}

.moon-icon {
  position: absolute;
  height: 2em;
  width: 2em;
  color: white;
  margin-top: -3.5em;
  margin-left: -6.5em;
}

.moon-icon-wrapper {
  position: absolute;
  height: 3em;
  width: 3em;
  opacity: 0;
  transform: translate(11em, 2em) rotate(0deg);
  transform-origin: 30% 50%;
  transition: opacity 150ms, transform 500ms cubic-bezier(0.26, 2.5, 0.46, 0.71);
}

.toggle-checkbox:checked ~ .toggle-slot .moon-icon-wrapper {
  opacity: 1;
  transform: translate(12em, 2em) rotate(-15deg);
}


/*Transition for Toggle*/

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 750ms !important;
  transition-delay: 0 !important;
}

/* About Section */
#about .card{
  background-color: var(--bg);
  color: var(--text-color);
  transform: scale(.97);
  cursor: pointer;
  transition: all .3s ease-in-out;
}

#mooc .card{
  color: var(--text-color);
  transform: scale(.97);
  cursor: pointer;
  transition: all .3s ease-in-out;
}

#about .card i, #mooc .card i{
  color: white;
}

#about .card-img, #mooc .card-img{
  background-color: var(--bg-nav);
}

#about .card:hover, #mooc .card:hover{
  transform: scale(1.005);
  box-shadow: 0 10px 18px 2px #000;
}

/*Footer*/

.webintern-footer {
  background-color: var(--bg-footer);
  background-image: var(--bg-footer);
  padding: 20px;
}

.row {
  clear: both;
  margin: 0 auto;
  padding: 0 auto;
  bottom: 0px;
  clear: both !important;
}

.webintern-footer-inner {
  padding-top: 0px;
  padding-bottom: 0px;
}

.webintern-footer-logo {
  display: inline-block;
}

.webintern-footer .webintern-footer-inner .simple-text p {
  color: #fff;
  margin-top: 0px;
  margin-bottom: 0px;
}

.simple-text p {
  font-size: 15px;
  color: #42435d;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  line-height: 20px;
  margin-bottom: 0;
}
.sub-footer-icon{
  height: 55.75px !important;
  width: 55px !important;
}
#kaggle-icon{
  padding-left: 21px;
}
svg{
  height: 35.3px;
  width: 56px; 
  padding-top: 14px;
}
.footer-icons a{
  color:var(--col-icon);
}
.footer-icons .email-icon a{
  color:var(--col-icon);  
  box-shadow:  var(--col-box-shadow);
}
.footer-icons a:hover{

  box-shadow:var(--col-box-shadow-hover);
}
/* Footer container */

.webintern-footer {
  display: flex;
  flex: 1;
  justify-content: space-between;
}
.footer-left {
  display: flex;
  flex-direction: column;
  width: 59%;
  margin: auto;
  margin-left: -4%;
}

.footer-left .footer-text {
  width: 90%;
  margin: 8px auto;
}

.footer-left .footer-text p {
  font-size: 1rem;
  width: 80%;
  margin: auto;
  color: var(--col-icon);
  text-align: center;
  margin-bottom: 3%;
  display: block;
}

.footer-left .footer-icons {
  display: flex;
  width: 70%;
  margin: 1rem auto;
  justify-content: space-around;
}
.footer-icons a{
  box-shadow:  var(--col-box-shadow);
  border-radius: 50%;
}
.footer-icons a:hover{
  box-shadow: inset 5px 5px 10px rgba(22, 21, 21, 0.7), inset -5px -5px 10px rgba(255,255,255,0.1);
  border-radius: 50%;
}
#mail{
  padding: 5px;
}
.footer-left .footer-icons a.twitter:hover {
  color: var(--col-icon-twitter);
  border-radius: 50%;
}
.footer-left .footer-icons a.medium:hover {
  color: var(--col-icon-medium);
  border-radius: 50%;
}
.footer-left .footer-icons a.linkedin:hover {
  color: var(--col-icon-linkedin);
  border-radius: 50%;
}
.footer-left .footer-icons a.instagram:hover {
  color:var(--col-icon-instagram);
  border-radius: 50%;
}
.footer-left .footer-icons a.git:hover {
  color: var(--col-icon-github) !important;
  border-radius: 50%;
}
 .footer-icons a.email-icon:hover {
    color:var(--col-icon-mail) !important;
  border-radius: 50%;
  }
  .footer-icons a.google-scholar:hover {
    color: var(--col-icon-google-scholar) !important;
  border-radius: 50%;
  }
  .footer-icons a.kaggle:hover {
    color: var(--col-icon-kaggle) !important;
  border-radius: 50%;
  }
  .footer-icons a.codeforces:hover {
    color:var( --col-icon-codeforces) !important;
  border-radius: 50%;
  }
  .footer-icons a.dribbble:hover {
    color:  var(--col-icon-dribbble) !important;
  border-radius: 50%;
  }
  .footer-icons a.leetcode:hover {
    color:  var( --col-icon-leetcode) !important;
  border-radius: 50%;
  }
.footer-left .footer-icons a i {
  padding: 17px;
  font-size: 1.4rem;
}
.footer-left .footer-email {
  width: 70%;
  margin: auto;
  display: block;
  text-align: center;
}
.footer-left .email-icon {
  padding: 12px;
}
.footer-left .email-icon i {
  padding: 10px;
  font-size: 2rem;
}
/* Contact Form */
.footer-right {
  display: flex;
  width: 50%;
  flex-direction: column;
  margin: auto;
  margin-right: -6%;
  color:var(--col-icon);
  margin-left: 3%;
}
.footer-right h6 {
  text-transform: uppercase;
  margin-left: 0px;
  font-size: 1.5rem;
  width: 77%;
  color: var(--col-icon);
  text-align: center;
  padding: 0.5%;
}
#inputs{
  border-radius: 20px;
  outline: none;
  border: none;
  box-shadow: inset 5px 5px 10px rgba(22, 21, 21, 0.7), inset -5px -5px 10px rgba(255,255,255,0.1);
  background:transparent;
  color:var(--col-icon) !important;
}

.submit{
  background-color: rgb(27, 129, 86) !important;
  color:aliceblue !important;
  font-weight: bold;
  border-radius:50%;
  width: 30%;
  box-shadow: 2px 2px 4px rgb(27, 129, 86)  ,-2px -2px 4px rgba(59, 141, 109, 0.1); 
}
.submit:hover{
  box-shadow: inset 2px 2px 4px  rgb(15, 65, 44) , inset -2px -2px 4px  rgba(114, 175, 152, 0.1);
  color:aliceblue !important;
}
::placeholder {
  color: var(--col-icon);
  font-size: 1rem;
}

.footer-right .name, .footer-right .email, .footer-right .msg {
  padding: 8px;
}

.footer-right .name input, .footer-right .email input, .footer-right .msg textarea {
  padding: 1px 8px;
  color: var(--col-icon);
  display: block;
  border: none;
  width: 80%;
}

.footer-right .msg textarea {
  width: 83%;
  padding: 10px;
  height: 8vh;
}

.footer-right form button {
  width: 18%;
  margin: 8px;
  margin-left: 33%;
  padding: 8px;
  border: none;
  background-color: var(--col-icon-medium);
  color:var(--col-icon);
  border-radius: 5px;
}

@media (min-width: 40rem) {
  .simple-text p {
    font-size: 20px;
  }
}

.footer-2 {
  float: right;
  margin-right: 0px;
}
.webintern_footer_title {
  margin-top: 0px;
  margin-bottom: 0px;
}
.webintern_footer_title small {
  font-family: "Work Sans", sans-serif;
  color: #fff;
  font-weight: 500;
  font-size: 10px;
  text-transform: uppercase;
}
.webintern_footer_title:after {
  content: "";
  display: block;
  width: 6rem;
  height: 2px;
  background: #26a69a;
  margin-top: 4px;
}

.contact-form #inputEmail, #inputName {
  background-color: #fff;
  padding: 0.375rem 0.75rem;
  height: 2rem;
  width: 93%;
  font-size: 15px;
  border-radius: 2px;
  margin-bottom: 0px;
}

.form-control:focus {
  box-shadow: none;
  border-bottom: 1px solid #26a69a;
}
.form-group {
  padding-left: 0px;
  padding-right: 0px;
}   
.webintern-footer .webintern-footer-inner .simple-text p {
  color: #fff;
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
}

.simple-text p {
  font-size: 15px;
  color: #42435d;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 0;
}

.footer-2 {
  float: right;
  margin-right: 0px;
}
.webintern_footer_title {
  margin-top: 0px;
  margin-bottom: 10px;
}
.webintern_footer_title small {
  font-family: "Work Sans", sans-serif;
  color: #fff;
  font-weight: 100;
  font-size: 13px;
  text-transform: uppercase;
}
.webintern_footer_title:after {
  content: "";
  display: block;
  width: 7rem;
  height: 2px;
  background: #26a69a;
  margin-top: 2px;
}

.contact-form #inputEmail, #inputName {
  background-color: #fff;
  padding: 0.375rem 0.75rem;
  height: 2rem;
  width: 93%;
  font-size: 15px;
  border-radius: 2px;
}
/*.tt-copy {
  font-size: 0px;
  line-height: 0px;
  color: #fff;
  padding: 0px 0;
  font-family: "Open Sans", sans-serif;
}*/

/*Responsive*/

@media (min-width: 40rem) {
  .simple-text p {
    font-size: 15px;
    text-align: center;
  }

  .webintern-footer .webintern-footer-inner .simple-text p {
    width: 220px;
  }
}

.send-btn {
  padding-top: 5px 3px 5px 3px;
  font-size: 10px;
  transition-property: font-size;
  transition: all 0.5s ease;
  outline: none;
}
.send-btn:hover {
  background-color: #0dfde5;
  font-size: 13px;
}

.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none;
  background-color: #26a69a;
  color: #fff;
}

.form-group:focus {
  border: 2px solid black;
}

.text-animation {
  animation: text 3s 1;
}

@keyframes text {
  0% {
    letter-spacing: 0px;
  }
  50% {
    letter-spacing: 20px;
  }
  100% {
    letter-spacing: 2px;
  }
}

/*social icons footer*/

:root {
  --link-size: 64px;
  --trans-props: all 0.3s ease;
  --link-size-footer-b: 40px;
  --link-size-footer-s: 30px;
}
.social-icons-footer {
  font-size: 20px;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  display: block;
}
.social-icon-footer {
  display: flex;
  position: relative;
  overflow: hidden;
  width: var(--link-size-footer-s);
  height: var(--link-size-footer-s);
  margin: 3px;
  background-color: #fff;
  border-radius: 50%;
  text-decoration: none;
  float: left;
  transition: background-color 0.3s, var(--trans-props);
}
.social-icon-footer:hover {
  background-color: grey;
  transform: translateY(-4px);
}
.social-icon-footer i {
  margin: auto;
  font-size: 15px;
  color: #000;
}
.social-icon-footer:hover i {
  color: #000000;
}
textarea#message {
  min-height: 65px;
  max-height: 250px;
}

/*Responsive*/
@media (min-width: 60rem) {
  .social-icons-footer {
    width: 280px;
    text-align: center;
  }
  .social-icon-footer {
    width: var(--link-size-footer-b);
    height: var(--link-size-footer-b);
  }
  .social-icon-footer i {
    font-size: 20px;
  }
}
@media (min-width: 40rem) {
  .webintern-footer .webintern-footer-inner .simple-text p {
    width: auto; 
  }
}
@media only screen and (max-width: 450px) {
  a.footer-email i {
    font-size: 1.2rem;
    right: 8px;
  }
  .webintern-footer {
    display: flex;
    flex-direction: column;
  }
  .footer-left, .footer-right {
    width: 100%;
  }
  #mail{
    padding: 14px;
  }
  .footer-right h6{
    margin-left: 35px;
  }
  .footer-left .footer-icons  {
    width: 100%;
    flex-wrap: wrap;
    padding: 3px;
  }
  .footer-left .footer-icons a  {
    padding: 2px;
  }
  .footer-left .footer-text {
    width: 100%;
    margin: 8px auto;
  }
  .footer-left .footer-text p {
    width: 100%;
  }
  .footer-right{
    margin: 0%;
  }
  .footer-left .email-icon i {
    padding: 10px;
    font-size: 1.8rem;
  }
  .footer-right .name input, .footer-right .email input  {
    width: 98%;
  }

  .footer-right .msg textarea {
    width: 104%;
  }
  .footer-right form button {
    width: 31%;
    margin: 8px;
    margin-left: 35%;
  }
}
/*Animations*/
.social-icon-footer:hover {
  transform: translateY(-4px);
}
.social-icon:hover:after {
  transform: translate(0) scale(1.2);
}
/* wave-hand animation */
.wave {
  animation-name: wave-animation;  
  animation-duration: 2.5s;      
  animation-iteration-count: infinite;  
  transform-origin: 70% 70%;     
  display: inline-block;
}
@keyframes wave-animation {
  0% { transform: rotate( 0.0deg) }
 10% { transform: rotate(14.0deg) }  
 20% { transform: rotate(-8.0deg) }
 30% { transform: rotate(14.0deg) }
 40% { transform: rotate(-4.0deg) }
 50% { transform: rotate(10.0deg) }
 60% { transform: rotate( 0.0deg) }  
100% { transform: rotate( 0.0deg) }
}
