/*CSS variable declaration for light/dark mode*/
html[data-theme = 'light']
{
	--bg-mybtn: red;
	--bg-nav: #000000;
  --bg-nav-img: #000000;
  --bg: #ffffff;
  --text: #191919;
  --text-color: #6C757D;
}

html[data-theme = 'dark']
{
	--bg-mybtn: rgb(230, 109, 129);
	--bg-nav: #6617cb;
  --bg-nav-img: linear-gradient(315deg, #6617cb 0%, #882463 74%);
  --bg: #191919;
  --text: #ffffff;
  --text-color: #fff;
  --bg-txt-img: linear-gradient(315deg, #d5adc8 0%, #ff8489 74%);
  --txt-fill: transparent;
}

body {
  height: 100vh;
  margin: 0;
  overflow-x: hidden;
  color: var(--text);
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
}

/* Top button */

/* smooth scrolling to top */
html {
  scroll-behavior: smooth;
}

/*starting part of every page*/

.main-heading{
  font-size: 4em;
  font-weight: bolder;
  background: var(--bg-txt-img);
  -webkit-background-clip: text;
  -webkit-text-fill-color: var(--txt-fill);
  padding-bottom: 0.1em;
}

.pre-heading{
  font-size: 1.1em;
  letter-spacing: 2px;
  line-height: normal;
  color: var(--text-color);
}

/*SCROLL TO TOP BUTTON dark/light mode*/
#myBtn {
	display: none;
	position: fixed;
	bottom: 40px;
	right: 30px;
	z-index: 99;
  background-color:#26a69a;
  height: 50px;
  width: 50px;
  cursor: pointer;
  overflow: hidden;
	opacity: 0.7;
}

.left-arm {
  position: absolute;
  z-index: 1;
  top: 21px;
  left: 8.5px;
  width: 20px;
  display: block;
  transform: rotate(-45deg);
}
.left-arm:after {
  content: "";
  background-color: #fff;
  height: 4px;
  display: block;
  transition: all 0.5s;
  transform-origin: right center;
}

.right-arm {
  position: absolute;
  z-index: 1;
  top: 21px;
  left: 20.5px;
  width: 20px;
  display: block;
  transform: rotate(45deg);
}
.right-arm:after {
  content: "";
  background-color: #fff;
  height: 4px;
  display: block;
  transition: all 0.5s;
  transform-origin: left center;
}

/*for animation*/
.arrow-slide {
  left: 0;
  top: -100%;
  width: 100%;
  height: 100%;
  background: #ffffffd1;
  position: absolute;
  display: block;
  z-index: 0;
}

/*slide animations on hover state*/
#myBtn:hover {
	opacity: 1;
}
#myBtn:hover  .left-arm:after {
  transform: rotate(-13deg);
}
#myBtn:hover  .right-arm:after {
  transform: rotate(13deg);
}
#myBtn:hover  .arrow-slide {
  transition: all .4s ease-in-out;
  transform: translateY(200%);
}

/* NAVBAR*/

.nav-wrapper a:hover,
.sidenav a:hover {
  text-decoration: none;
}

.nav-wrapper{
  margin-left: 10px;
  margin-right: 10px;
}

  /*Navbar dark mode(research page)*/

  .black{
	background-color: var(--bg-nav);
  background-image: var(--bg-nav-img);
  }

.nav-wrapper a {
  font-weight: bold;
}

.sidenav-trigger {
  margin-left: 0px !important;
}

.brand-logo img {
  width: 200px;
}

h1,
p {
  display: inline-block;
  line-height: 1;
  font-family: "Poppins", sans-serif;
  margin: 20px 0;
  font-weight: 300;
  font-size: 18px;
}

/*toggle for light/dark mode*/

.toggle-checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.side-toggle{
    height: 2em;
    width: 5em;
}

.toggle-slot {
  position: relative;
  height: 3.5em;
  width: 8em;
  border: 5px solid #e4e7ec;
  border-radius: 10em;
  background-color: white;
  transition: background-color 250ms;
  margin-top: 1em;
  margin-left: 1.5em;
}

.toggle-checkbox:checked ~ .toggle-slot{
  background-color: #374151;
}

.toggle-button {
  transform: translate(11.75em, 1.75em);
  position: absolute;
  height: 2em;
  width: 2em;
  border-radius: 50%;
  background-color: #ffeccf;
  box-shadow: inset 0px 0px 0px 0.75em #ffbb52;
  transition: background-color 250ms, border-color 250ms, transform 500ms cubic-bezier(.26,2,.46,.71);
  margin-top: -1.5em;
  margin-left: -7em;
}

.toggle-checkbox:checked ~ .toggle-slot .toggle-button {
  background-color: #485367;
  box-shadow: inset 0px 0px 0px 0.75em white;
  transform: translate(7.5em, 1.75em);
}

.sun-icon {
  position: absolute;
  height: 2em;
  width: 2em;
  color: #ffbb52;
  margin-top: -1.2em;
  margin-left: -2em;
}

.sun-icon-wrapper {
  position: absolute;
  height: 3em;
  width: 3em;
  opacity: 1;
  transform: translate(2em, 2em) rotate(15deg);
  transform-origin: 50% 50%;
  transition: opacity 150ms, transform 500ms cubic-bezier(.26,2,.46,.71);
}

.toggle-checkbox:checked ~ .toggle-slot .sun-icon-wrapper{
  opacity: 0;
  transform: translate(3em, 2em) rotate(0deg);
}

.moon-icon {
  position: absolute;
  height: 2em;
  width: 2em;
  color: white;
  margin-top: -3.5em;
  margin-left: -6.5em;
}

.moon-icon-wrapper {
  position: absolute;
  height: 3em;
  width: 3em;
  opacity: 0;
  transform: translate(11em, 2em) rotate(0deg);
  transform-origin: 50% 50%;
  transition: opacity 150ms, transform 500ms cubic-bezier(.26,2.5,.46,.71);
}

.toggle-checkbox:checked ~ .toggle-slot .moon-icon-wrapper{
  opacity: 1;
  transform: translate(12em, 2em) rotate(-15deg);
}

/*Transition for Toggle*/

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 750ms !important;
  transition-delay: 0 !important;
}

/*Footer*/

.webintern-footer {
  background-color: var(--bg-nav);
  background-image: var(--bg-nav-img);
  padding: 20px;
}
.row{

  clear: both;
  margin: 0 auto;
  padding:0 auto;
  bottom: 0px;
  clear: both !important;

}

.webintern-footer-inner {
  padding-top: 0px;
  padding-bottom: 0px;
}

.webintern-footer-logo {
  display: inline-block;
}

.webintern-footer .webintern-footer-inner .simple-text p {
  color: #fff;
  margin-top: 0px;
  margin-bottom: 0px;
}

.simple-text p {
  font-size: 15px;
  color: #42435d;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  line-height: 20px;
  margin-bottom: 0;
}

@media (min-width: 40rem) {
  .simple-text p {
    font-size: 20px;
  }
}

.footer-2 {
  float: right;
  margin-right: 0px;
}
.webintern_footer_title {
  margin-top: 0px;
  margin-bottom: 0px;
}
.webintern_footer_title small {
  font-family: "Work Sans", sans-serif;
  color: #fff;
  font-weight: 500;
  font-size: 10px;
  text-transform: uppercase;
}
.webintern_footer_title:after {
  content: "";
  display: block;
  width: 6rem;
  height: 2px;
  background: #26a69a;
  margin-top: 4px;
}

.contact-form #exampleInputEmail1 {
  background-color: #fff;
  padding: 0.375rem 0.75rem;
  height: 2rem;
  width: 93%;
  font-size: 15px;
  border-radius: 2px;
  margin-bottom: 0px;
}

.form-control:focus {
  box-shadow: none;
  border-bottom: 1px solid #26a69a;
}
.form-group {
  padding-left: 0px;
  padding-right: 0px;
}

.webintern-footer .webintern-footer-inner .simple-text p {
  color: #fff;
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
}

.simple-text p {
  font-size: 15px;
  color: #42435d;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 0;
}

.footer-2 {
  float: right;
  margin-right: 0px;
}
.webintern_footer_title {
  margin-top: 0px;
  margin-bottom: 10px;
}
.webintern_footer_title small {
  font-family: "Work Sans", sans-serif;
  color: #fff;
  font-weight: 100;
  font-size: 13px;
  text-transform: uppercase;
}
.webintern_footer_title:after {
  content: "";
  display: block;
  width: 7rem;
  height: 2px;
  background: #26a69a;
  margin-top: 2px;
}

.contact-form #exampleInputEmail1 {
  background-color: #fff;
  padding: 0.375rem 0.75rem;
  height: 2rem;
  width: 93%;
  font-size: 15px;
  border-radius: 2px;
}
/*.tt-copy {
  font-size: 0px;
  line-height: 0px;
  color: #fff;
  padding: 0px 0;
  font-family: "Open Sans", sans-serif;
}*/

/*Responsive*/

@media (min-width: 40rem) {
  .simple-text p {
    font-size: 15px;
    text-align: center;
  }

  .webintern-footer .webintern-footer-inner .simple-text p {
    width: 220px;
  }
}

.send-btn {
  padding-top: 5px 3px 5px 3px;
  font-size: 10px;
  transition-property: font-size;
  transition: all 0.5s ease;
  outline: none;
}
.send-btn:hover {
  background-color: #0dfde5;
  font-size: 13px;
}

.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none;
  background-color: #26a69a;
  color: #fff;
}

.form-group:focus {
  border: 2px solid black;
}

.text-animation {
  animation: text 3s 1;
}

@keyframes text {
  0% {
    letter-spacing: 0px;
  }
  50% {
    letter-spacing: 20px;
  }
  100% {
    letter-spacing: 2px;
  }
}

/*social icons footer*/

:root {
  --link-size: 64px;
  --trans-props: all 0.3s ease;
  --link-size-footer-b: 40px;
  --link-size-footer-s: 30px;
}

.social-icons-footer {
  font-size: 20px;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  display: block;
}

.social-icon-footer {
  display: flex;
  position: relative;
  overflow: hidden;
  width: var(--link-size-footer-s);
  height: var(--link-size-footer-s);
  margin: 3px;
  background-color: #26a69a;
  border-radius: 50%;
  text-decoration: none;
  float: left;
  transition: background-color 0.3s, var(--trans-props);
}

.social-icon-footer:hover{
  background-color: #0dfde5;
  transform: translateY(-4px);
}

.social-icon-footer i {
  margin: auto;
  font-size: 15px;
  color: #fff;
}

.social-icon-footer:hover i {
  color: #000000;
}

/*Responsive*/

@media (min-width: 60rem) {
  .social-icons-footer {
    width: 280px;
    text-align: center;
  }

  .social-icon-footer {
    width: var(--link-size-footer-b);
    height: var(--link-size-footer-b);
  }

  .social-icon-footer i {
    font-size: 20px;
  }
}

/*Animations*/

.social-icon-footer:hover {
  transform: translateY(-4px);
}

.social-icon:hover:after {
  transform: translate(0) scale(1.2);
}
