@font-face {
  font-family: "Agustina";
  src: url(../fonts/Agustina.woff);
}
/*CSS variable declaration for light/dark mode*/
html[data-theme="light"] {
  --bg-mybtn: red;
  --bg-nav:black;
  --bg-nav-img: black;
  --bg-footer:#DDE1EC;
  --bg: #ffffff;
  --text: #191919;
  --text-color: #6c757d;
  --col-icon: black;
  --col-bd-radius:rgb(2, 2, 2);
  --col-box-shadow:#000000 2px 2px 4px, 
  #4D4D4D -2px -2px 4px;
 --col-box-shadow-hover:inset #8a7373 2px 2px 4px, 
 inset #4D4D4D -2px -2px 4px;
  --col-bd-icon:transparent;
  --bg-icon: #fff;
  --col-icon-twitter: #1da1f2;
  --col-icon-dribbble: #ea4c89;
  --col-icon-linkedin: #0e76a8;
  --col-icon-medium: #00ab6c;
  --col-icon-kaggle: #41aff3;
  --col-icon-github:#24292e;  
  --col-icon-instagram: rgb(201, 94, 174);
  --col-icon-mail:rgb(209, 82, 82);
  --col-icon-google-scholar:#3cba54;
  --col-icon-codeforces:rgb(19, 145, 184);
  --col-icon-leetcode:rgb(255, 181, 62);
  --shadow-col: rgba(0, 0, 0, 0.3);

}

html[data-theme="dark"] {
  --bg-mybtn: rgb(230, 109, 129);
  --bg-nav: #6617cb;
  --bg-nav-img: linear-gradient(315deg, #6617cb 0%, #882463 74%);
  --bg-footer:linear-gradient(315deg, #6617cb 0%, #882463 74%);
  --bg: #191919;
  --text: #ffffff;
  --text-color: #fff;
  --bg-txt-img: linear-gradient(315deg, #d5adc8 0%, #ff8489 74%);
  --txt-fill: transparent;
  --col-icon:white;
  --col-bd-radius:black;
  --col-bd-icon:transparent;
  --col-box-shadow: 5px 5px 10px rgba(22, 21, 21, 0.7) , -5px -5px 10px rgba(255,255,255,0.1);
  --col-box-shadow-hover:inset rgba(255, 255, 255, 1) 2px 2px 4px, 
 inset rgba(255, 255, 255, 0.5) -2px -2px 4px;
  --col-icon-twitter: #1da1f2;
  --col-icon-dribbble: #ea4c89;
  --col-icon-linkedin: #0e76a8;
  --col-icon-medium: #00ab6c;
  --col-icon-kaggle: #41aff3;
  --col-icon-github:  #24292e;
  --col-icon-instagram: rgb(201, 94, 174);
  --col-icon-mail:rgb(209, 82, 82);
  --col-icon-google-scholar:#3cba54;
  --col-icon-codeforces:rgb(19, 145, 184);
  --col-icon-leetcode:rgb(255, 181, 62);
  --col-white: #fff;
}

body {
  height: 100vh;
  margin: 0;
  overflow-x: hidden;
  color: var(--text);
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
}

/* Top button */

/* smooth scrolling to top */
html {
  scroll-behavior: smooth;
}

/*starting part of every page*/

.navbar-brand{
  font-family: Agustina;
  font-size: 30px;
  font-weight: bold;
}
.sidenav{
    z-index: 1031;
}
.sidenav-trigger {
  margin-left: 0px !important;
}

.brand-logo img {
  width: 200px;
}

h1,
p {
  display: inline-block;
  line-height: 1;
  font-family: "Poppins", sans-serif;
  margin: 20px 0;
  font-weight: 300;
  font-size: 18px;
}

/*toggle for light/dark mode*/

.toggle-checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.side-toggle {
  height: 2em;
  width: 5em;
}

.toggle-slot {
  position: relative;
  height: 3.5em;
  width: 8em;
  border: 5px solid #e4e7ec;
  border-radius: 10em;
  background-color: white;
  transition: background-color 250ms;
  margin-top: 1em;
  margin-left: 1.5em;
  cursor: pointer;
}

.toggle-checkbox:checked ~ .toggle-slot {
  background-color: #374151;
}


.toggle-button {
  transform: translate(11.75em, 1.75em);
  position: absolute;
  height: 2em;
  width: 2em;
  border-radius: 50%;
  background-color: #ffeccf;
  box-shadow: inset 0px 0px 0px 0.75em #ffbb52;
  transition: background-color 250ms, border-color 250ms,
    transform 500ms cubic-bezier(0.26, 2, 0.46, 0.71);
  margin-top: -1.5em;
  margin-left: -7em;
  cursor: pointer;
  pointer-events: all;
}

.theme-switch {
  pointer-events: none;
}

.toggle-checkbox:checked ~ .toggle-slot .toggle-button {
  background-color: #485367;
  box-shadow: inset 0px 0px 0px 0.75em white;
  transform: translate(7.5em, 1.75em);
}

.sun-icon {
  position: absolute;
  height: 2em;
  width: 2em;
  color: #ffbb52;
  margin-top: -1.2em;
  margin-left: -2em;
}

.sun-icon-wrapper {
  position: absolute;
  height: 3em;
  width: 3em;
  opacity: 1;
  transform: translate(2em, 2em) rotate(15deg);
  transform-origin: 50% 50%;
  transition: opacity 150ms, transform 500ms cubic-bezier(0.26, 2, 0.46, 0.71);
}


.toggle-checkbox:checked ~ .toggle-slot .sun-icon-wrapper {
  opacity: 0;
  transform: translate(3em, 2em) rotate(0deg);
}

.moon-icon {
  position: absolute;
  height: 2em;
  width: 2em;
  color: white;
  margin-top: -3.5em;
  margin-left: -6.5em;
}

.moon-icon-wrapper {
  position: absolute;
  height: 3em;
  width: 3em;
  opacity: 0;
  transform: translate(11em, 2em) rotate(0deg);
  transform-origin: 30% 50%;
  transition: opacity 150ms, transform 500ms cubic-bezier(0.26, 2.5, 0.46, 0.71);
}

.toggle-checkbox:checked ~ .toggle-slot .moon-icon-wrapper {
  opacity: 1;
  transform: translate(12em, 2em) rotate(-15deg);
}


/*Transition for Toggle*/

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 750ms !important;
  transition-delay: 0 !important;
}

/* About Section */
#about .card{
  background-color: var(--bg);
  color: var(--text-color);
  transform: scale(.97);
  cursor: pointer;
  transition: all .3s ease-in-out;
}

#mooc .card{
  color: var(--text-color);
  transform: scale(.97);
  cursor: pointer;
  transition: all .3s ease-in-out;
}

#about .card i, #mooc .card i{
  color: white;
}

#about .card-img, #mooc .card-img{
  background-color: var(--bg-nav);
}

#about .card:hover, #mooc .card:hover{
  transform: scale(1.005);
  box-shadow: 0 10px 18px 2px #000;
}

/**********
  FOOTER SECTION
**********/

.footer{
  background-color: black;
}

.tag{
  font-family:"Open Sans", sans-serif;
  font: size 20px;
  line-height: 26px;
  text-align: center;
  color: #fff;
  height: 78px;
  width: 250px;
  margin: 5px auto;
  display: block;
  box-sizing: border-box;
}


.svg-inline--fa {
  vertical-align: -0.200em;
}

.rounded-social-buttons .social-button {
  display: inline-block;
  cursor: pointer;
  width: 3.125rem;
  height: 3.125rem;
  border: 0.125rem solid transparent;
  padding: 0;
  text-decoration: none;
  text-align: center;
  color: #fefefe;
  font-size: 1.5625rem;
  font-weight: normal;
  line-height: 2em;
  border-radius: 1.6875rem;
  transition: all 0.5s ease;
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
}

/********
Rotate Transition in foote Soical Icon
*********/

.rounded-social-buttons .social-button:hover, .rounded-social-buttons .social-button:focus {
  -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}

.rounded-social-buttons .fa-twitter, .fa-facebook-f, .fa-linkedin, .fa-youtube, .fa-instagram {
  font-size: 25px;
}

.rounded-social-buttons .social-button.twitter {
  background: #22B6A7;
}

.rounded-social-buttons .social-button.twitter:hover, .rounded-social-buttons .social-button.twitter:focus {
  color: #000;
  background: #22B6A7;
  border-color: #22B6A7;
}

.rounded-social-buttons .social-button.linkedin {
  background: #22B6A7;
}

.rounded-social-buttons .social-button.linkedin:hover, .rounded-social-buttons .social-button.linkedin:focus {
  color: #000;
  background: #22B6A7;
  border-color: #22B6A7;
}

.rounded-social-buttons .social-button.medium {
  background:  #22B6A7;
}

.rounded-social-buttons .social-button.medium:hover, .rounded-social-buttons .social-button.medium:focus {
  color: #000000;
  background: #22B6A7;
  border-color: #22B6A7;
}

.rounded-social-buttons .social-button.github {
  background: #22B6A7;
}

.rounded-social-buttons .social-button.github:hover, .rounded-social-buttons .social-button.github:focus {
  color: #000000;
  background: #22B6A7;
  border-color: #22B6A7;
}

/************ 
  Contact Form In Footer 
*************/
.display{
  height: auto;
  width: auto;
  text-align: left;
  color: #fff;
  display: inline;
  font-size: 25px;
  font-weight: 200;
  line-height: 18px;
  border-bottom: 2px solid #26a69a;
}

form{
  margin: 15px auto;
  color: #000;
}

/**********
   Footer Form CSS
**********/
.form-style-6{
	font: 95% Arial, Helvetica, sans-serif;
	max-width: 400px;
	margin: 10px auto;
  padding: 16px;
  border-radius: 2px;
}
.form-style-6 h1{
	background: #43D1AF;
	font-size: 140%;
	font-weight: 300;
	text-align: center;
	color: #fff;
	margin: -16px -16px 16px -16px;
}
.form-style-6 input[type="text"],
.form-style-6 input[type="date"],
.form-style-6 input[type="datetime"],
.form-style-6 input[type="email"],
.form-style-6 input[type="number"],
.form-style-6 input[type="search"],
.form-style-6 input[type="time"],
.form-style-6 input[type="url"],
.form-style-6 textarea,
.form-style-6 select 
{
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	background: #fff;
	margin-bottom: 4%;
	border: 1px solid #ccc;
	padding: 3%;
	color: rgb(46, 44, 44);
  font: 95% Arial, Helvetica, sans-serif;
  border-radius: 2px;
}
.form-style-6 input[type="text"]:focus,
.form-style-6 input[type="date"]:focus,
.form-style-6 input[type="datetime"]:focus,
.form-style-6 input[type="email"]:focus,
.form-style-6 input[type="number"]:focus,
.form-style-6 input[type="search"]:focus,
.form-style-6 input[type="time"]:focus,
.form-style-6 input[type="url"]:focus,
.form-style-6 textarea:focus,
.form-style-6 select:focus
{
	box-shadow: 0 0 5px #43D1AF;
	padding: 3%;
  border: 1px solid #43D1AF;
  border-radius: 2px;
}

.form-style-6 input[type="submit"],
.form-style-6 input[type="button"]{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	padding: 3%;
	background: #43D1AF;
  border-bottom: 2px solid #30C29E;
  border-radius: 2px;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;	
  color: #fff;
  font-size: 20px;
}
.form-style-6 input[type="submit"]:hover,
.form-style-6 input[type="button"]:hover{
	background: #2EBC99;
}


/*.tt-copy {
  font-size: 0px;
  line-height: 0px;
  color: #fff;
  padding: 0px 0;
  font-family: "Open Sans", sans-serif;
}*/


/* wave-hand animation */
.wave {
  animation-name: wave-animation;  
  animation-duration: 2.5s;      
  animation-iteration-count: infinite;  
  transform-origin: 70% 70%;     
  display: inline-block;
}
@keyframes wave-animation {
  0% { transform: rotate( 0.0deg) }
 10% { transform: rotate(14.0deg) }  
 20% { transform: rotate(-8.0deg) }
 30% { transform: rotate(14.0deg) }
 40% { transform: rotate(-4.0deg) }
 50% { transform: rotate(10.0deg) }
 60% { transform: rotate( 0.0deg) }  
100% { transform: rotate( 0.0deg) }
}

