
/*ScrollBar Code*/
::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #bb86fc;
  border-radius: 2px;
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  max-height: 10px;
  -webkit-box-shadow: inset 0 0 6px #bb86fc;
  background: #bb86fc;
  transition: 0.3s;
}

::-webkit-scrollbar-thumb:hover {
  background: #ca9eff;
  
}

.heading1 {
  font-size: 32px;
  line-height: 1.2;
  font-weight: bold;
  color: #222;
  margin: 0.5em 0;
  margin-top: 5rem;
  color:var(--text);
}

@media(min-width:675px){
  .heading1{
    margin-top: 5em;
  }
}

.my_experience{          
  color:#4e00bb;
}

@media(max-width: 768px){
  .mcard{
    margin-bottom: 12rem !important;
  }
}


/*Hackathon Section Starts*/

.blog-slider {
  width: 95%;
  position: relative;
  max-width: 800px;
  margin: auto;
  background: #fff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 25px;
  border-radius: 25px;
  height: 400px;
  transition: all 0.3s;
}
@media screen and (max-width: 992px) {
  .blog-slider {
    max-width: 680px;
    height: 400px;
 }
}
@media screen and (max-width: 768px) {
  .blog-slider {
    min-height: 500px;
    height: auto;
    margin: 180px auto;
 }
}
@media screen and (max-height: 500px) and (min-width: 992px) {
  .blog-slider {
    height: 350px;
 }
}
.blog-slider__item {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .blog-slider__item {
    flex-direction: column;
 }
}
.blog-slider__item.swiper-slide-active .blog-slider__img img {
  opacity: 1;
  transition-delay: 0.3s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > * {
  opacity: 1;
  transform: none;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(1) {
  transition-delay: 0.3s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(2) {
  transition-delay: 0.4s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(3) {
  transition-delay: 0.5s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(4) {
  transition-delay: 0.6s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(5) {
  transition-delay: 0.7s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(6) {
  transition-delay: 0.8s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(7) {
  transition-delay: 0.9s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(8) {
  transition-delay: 1s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(9) {
  transition-delay: 1.1s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(10) {
  transition-delay: 1.2s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(11) {
  transition-delay: 1.3s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(12) {
  transition-delay: 1.4s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(13) {
  transition-delay: 1.5s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(14) {
  transition-delay: 1.6s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(15) {
  transition-delay: 1.7s;
}
.blog-slider__img {
  width: 300px;
  flex-shrink: 0;
  height: 300px;
  box-shadow: 4px 13px 30px 1px rgba(14,73,181, 0.1);
  border-radius: 20px;
  transform: translateX(-80px);
  overflow: hidden;
}
.blog-slider__img:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  opacity: 0.8;
}
.blog-slider__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  opacity: 0;
  border-radius: 20px;
  transition: all 0.3s;
}
@media screen and (max-width: 768px) {
  .blog-slider__img {
    transform: translateY(-50%);
    width: 90%;
 }
}
@media screen and (max-width: 576px) {
  .blog-slider__img {
    width: 95%;
 }
}
@media screen and (max-height: 500px) and (min-width: 992px) {
  .blog-slider__img {
    height: 270px;
 }
}
.blog-slider__content {
  padding-right: 25px;
}
@media screen and (max-width: 768px) {
  .blog-slider__content {
    margin-top: -80px;
    text-align: center;
    padding: 0 30px;
 }
}
@media screen and (max-width: 576px) {
  .blog-slider__content {
    padding: 0;
 }
}
.blog-slider__content > * {
  opacity: 0;
  transform: translateY(25px);
  transition: all 0.4s;
}

/*Hackathon Name */

.blog-slider__title {
  font-size: 24px;
  font-weight: 900;
  color: #0d0925;
  margin-bottom: 20px;
}

/* Role in Hackathon   */

.blog-slider__code {
  color: #4f4d63;
  margin-bottom: 20px;
  display: block;
  font-size: 17px;
  font-weight: 700;
}

 /* Hackathon Description   */ 

.blog-slider__text {
  color: #4e4a67;
  margin-bottom: 30px;
  line-height: 1.5em;
}
.blog-slider__button {
  display: inline-flex;
  background-image: linear-gradient(147deg, #009ffd 0%, #0e49b5 74%);
  padding: 15px 35px;
  border-radius: 50px;
  color: #fff;
  box-shadow: 0px 14px 80px rgba(14,73,181, 0.4);
  font-weight: 500;
  justify-content: center;
  text-align: center;
  letter-spacing: 1px;
}
a:link{
  text-decoration: none !important;
  color: white;
}
@media screen and (max-width: 576px) {
  .blog-slider__button {
    width: 100%;
 }
}

.card2{

  color: var(--text);
}

@media(max-width: 768px){
  .mcard{
    margin-bottom: 12rem !important;
  }
}

/*Hackathon Section Ends*/

