@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
#menu-toggle:checked + #menu {
  display: block;
}

html {
  --col-icon: black;
  --col-bd-radius:rgb(2, 2, 2);
  --col-box-shadow:#000000 2px 2px 4px, 
  #4D4D4D -2px -2px 4px;
 --col-box-shadow-hover:inset #8a7373 2px 2px 4px, 
 inset #4D4D4D -2px -2px 4px;
  --col-bd-icon:transparent;
  --bg-icon: #fff;
   --bg1-color: #fff;
  --col-icon-twitter: #1da1f2;
  --col-icon-dribbble: #ea4c89;
  --col-icon-linkedin: #0e76a8;
  --col-icon-medium: #00ab6c;
  --col-icon-kaggle: #41aff3;
  --col-icon-github:#24292e;  
  --col-icon-instagram: rgb(201, 94, 174);
  --col-icon-mail:rgb(209, 82, 82);
  --col-icon-google-scholar:#3cba54;
  --col-icon-codeforces:rgb(19, 145, 184);
  --col-icon-leetcode:rgb(255, 181, 62);
  --shadow-col: rgba(0, 0, 0, 0.3);

}

html[data-theme="dark"] {
  --col-icon:white;
  --col-bd-radius:black;
  --col-bd-icon:transparent;
  --col-box-shadow: 5px 5px 10px rgba(22, 21, 21, 0.7) , -5px -5px 10px rgba(255,255,255,0.1);
  --col-box-shadow-hover:inset rgba(255, 255, 255, 1) 2px 2px 4px, 
 inset rgba(255, 255, 255, 0.5) -2px -2px 4px;
  --col-icon-twitter: #1da1f2;
  --col-icon-dribbble: #ea4c89;
  --col-icon-linkedin: #0e76a8;
  --col-icon-medium: #00ab6c;
  --col-icon-kaggle: #41aff3;
  --col-icon-github:  #24292e;
  --col-icon-instagram: rgb(201, 94, 174);
  --col-icon-mail:rgb(209, 82, 82);
  --col-icon-google-scholar:#3cba54;
  --col-icon-codeforces:rgb(19, 145, 184);
  --col-icon-leetcode:rgb(255, 181, 62);
  --col-white: #fff;
}

/* home page global variables */
:root {
  --link-size: 64px;
  --trans-props: all 0.2s ease;
  --link-size-footer-b: 40px;
  --link-size-footer-s: 30px;
}

/* for .animated-text */
.animated-text span.active {
  display: inline !important;
}
