@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-display: optional;
  src: url(/fonts/Montserrat.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
    U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat";
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
#menu-toggle:checked + #menu {
  display: block;
}

html {
  --col-icon: black;
  --col-bd-radius: rgb(2, 2, 2);
  --col-box-shadow: #000000 2px 2px 4px, #4d4d4d -2px -2px 4px;
  --col-box-shadow-hover: inset #8a7373 2px 2px 4px, inset #4d4d4d -2px -2px 4px;
  --col-bd-icon: transparent;
  --bg-icon: #fff;
  --bg1-color: #fff;
  --col-icon-twitter: #1da1f2;
  --col-icon-dribbble: #ea4c89;
  --col-icon-linkedin: #0e76a8;
  --col-icon-medium: #00ab6c;
  --col-icon-kaggle: #41aff3;
  --col-icon-github: #24292e;
  --col-icon-instagram: rgb(201, 94, 174);
  --col-icon-mail: rgb(209, 82, 82);
  --col-icon-google-scholar: #3cba54;
  --col-icon-codeforces: rgb(19, 145, 184);
  --col-icon-leetcode: rgb(255, 181, 62);
  --shadow-col: rgba(0, 0, 0, 0.3);
}

html[data-theme="dark"] {
  --col-icon: white;
  --col-bd-radius: black;
  --col-bd-icon: transparent;
  --col-box-shadow: 5px 5px 10px rgba(22, 21, 21, 0.7), -5px -5px 10px rgba(255, 255, 255, 0.1);
  --col-box-shadow-hover: inset rgba(255, 255, 255, 1) 2px 2px 4px, inset rgba(255, 255, 255, 0.5) -2px -2px 4px;
  --col-icon-twitter: #1da1f2;
  --col-icon-dribbble: #ea4c89;
  --col-icon-linkedin: #0e76a8;
  --col-icon-medium: #00ab6c;
  --col-icon-kaggle: #41aff3;
  --col-icon-github: #24292e;
  --col-icon-instagram: rgb(201, 94, 174);
  --col-icon-mail: rgb(209, 82, 82);
  --col-icon-google-scholar: #3cba54;
  --col-icon-codeforces: rgb(19, 145, 184);
  --col-icon-leetcode: rgb(255, 181, 62);
  --col-white: #fff;
}

/* education page global variables */
html, *, *::before, *::after {
  --bg1-color: #ecf0f3;
  --shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  --border: 1px solid #ecf0f3;
  --link-size: 64px;
  --trans-props: all 0.2s ease;
  --link-size-footer-b: 40px;
  --link-size-footer-s: 30px;
}

html[data-theme="dark"] {
  --bg1-color: #272727;
  --shadow: 0 4px 8px 0 rgba(104, 102, 102, 0.2);
  --border: none;
}


.dark .card{
  border: 1px rgba(255, 255, 255, 0.253) solid;
}

html {
  min-width: 360px;
  scroll-behavior: smooth;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.sticky-nav {
  position: sticky;
  z-index: 20;
  top: 0;
  backdrop-filter: saturate(180%) blur(80px);
  transition: #47a3f3 0.1 ease-in-out;
}
#menu-icon > path {
  @apply stroke-current; @apply stroke-4;
  fill: none;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
#menu-icon > path:nth-child(1) {
  stroke-dasharray: 60 207;
}
#menu-icon > path:nth-child(2) {
  stroke-dasharray: 60 60;
}
#menu-icon > path:nth-child(3) {
  stroke-dasharray: 60 207;
}
#menu-icon.opened > path:nth-child(1) {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
}
#menu-icon.opened > path:nth-child(2) {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
}
#menu-icon.opened > path:nth-child(3) {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
}